[2019-07-23 23:34] gyroninja commented on #3697
There seems to be something special going on when you overwrite a parameter to the function. For example this code doesn't leak memory.

[code]

[2019-07-24 04:48] gyroninja commented on #3697
**Proposed Fix**:  TCO should change at least the parameters that change during the loop into being wrapped by an array. I'm not sure how easy this would be to implement, but it should probably reduce the amount of memory used in during the loop since it will be able to GC the first value of the loop.

For reference the modified javascript sample is.

[code]

[2019-07-24 06:14] bobzhang commented on #3697
@gyroninja is there any source about this statement?

FYI, I changed it into an arrow function, still memory leak

[2019-07-24 06:37] bobzhang commented on #3697
Based on my understanding, this subtle semantic mismatch is not specific our TCOed function, your proposed fix does not solve the problem but hide the problem in a small category.
(Note even in OCaml, if you give a name to the argument, you will get a memory leak)

I tidied the example:
[code]

[2019-07-24 10:11] bobzhang commented on #59
this looks good to me, what’s your expected outcome?

发自我的iPhone

------------------ Original ------------------
From: Justin Baum <notifications@github.com>
Date: Wed,Jul 24,2019 0:08 AM
To: BuckleScript/bucklescript <bucklescript@noreply.github.com>
Cc: Hongbo Zhang <bobzhang1988@gmail.com>, Author <author@noreply.github.com>
Subject: Re: [BuckleScript/bucklescript] add a algebra simplification

[2019-07-24 11:36] gyroninja commented on #3697
I don't know of a definitive source. But from what I have read online and what I've seen in firefox and chrome's memory debuggers, anything on the call stack is pointed to by a GC root. This means we can't expect it to be GC'd until the parameter is no longer on the call stack or at least once the call stack it used to belong in is destroyed. I'm not exactly sure what happens when you overwrite a

[2019-07-24 23:59] #3695 closed

[2019-07-25 00:03] bobzhang commented on #3697
[code]
This leaked in ocaml bytecode (not tested in native).
If this is indeed a minor semantic  GC difference, we might not fix it unless there are clean solutions

[2019-07-25 01:34] gyroninja commented on #3697
Native is not leaking memory when I invoked ocamlopt with no extra options.

[2019-07-25 02:28] gyroninja commented on #3697
[code]type 'a t = Stream of ('a -> 'a * 'a t lazy_t)

let const f _ = f

let rec repeat x = Stream (fun _ -> (x, lazy (repeat x)))

let rec repeat_leak x = Stream (const @@ (x, lazy (repeat_leak x)))

let () =
  let rec recurse (Stream f) =
    let (_, tail) = f () in
    recurse @@ Lazy.force tail
  in recurse @@ repeat ()[/code]
This is a slightly less minified version of my original program. An

[2019-07-25 15:02] justinba1010 commented on #59
We wanted a more functional run time for match statements. In some cases we were running in to extremely long times for large match statements that get run.

[2019-07-26 22:46] arjun-menon opened #3706 "better error messages (at least for switch)"
If I make a syntax error while writing a `switch` in Reason, I get a generic syntax error, instead of one pointing out the error. For example, below, there's a missing `|`  before `None`:
[code]
Here is the error message I get for it: `Error: SyntaxError in block`. Which isn't super-helpful in figuring out where the syntactical bug is. Granted, syntax errors are rare, and more of a beginner thing-

[2019-07-26 23:06] anmonteiro commented on #3706
This belongs in the Reason repo though: https://github.com/facebook/reason

[2019-07-29 02:52] jaredly opened #3709 "[bug] ppx_flags no longer allows passing arguments to ppxs"
Not sure when this happened, but it's broken again 🙃
If I have `"ppx-flags": ["./some-ppx --an-arg"]` I get the error:
[code]
Apparently ninja is being passed the ppx path *and* the argument as though it's a single file that is a dependency.

(bs-platform version 5.0.4)

[2019-07-29 13:04] bobzhang commented on #3709
does this work for you:
[code]

[2019-07-29 13:05] bobzhang commented on #3706
moved to https://github.com/facebook/reason/issues/2434

[2019-07-29 13:05] #3706 closed

[2019-07-29 13:06] bobzhang commented on #3709
The change is that recently we did some check to enforce that ppx binary actually exists for better error message

[2019-07-29 14:54] jaredly commented on #3709
@bobzhang nope that doesn't work -- `--an-arg` is treated as a separate ppx

[2019-07-30 01:20] bobzhang commented on #3697
@gyroninja fortunately, ocaml is a multi-paradigm language, you can get more refined control via a while loop as below:

[code]

[2019-07-30 02:06] gyroninja commented on #3697
While that may work for the examples I submitted, keep in mind I have only been showing you simplistic versions from my project. Instead of simply recursing on itself like an infinite loop, I am using requestAnimationFrame to schedule my function to run again. Doing that can not simply be replaced with a while loop.

Yes, I already have mitigations in place to avoid leaking memory in my project. I

[2019-07-30 06:05] bobzhang commented on #3709
The sanity check was introduced since @rickyvetter found when ppx binary changes, the files won't get rebuilt. Since user could pass a list of ppxes, so the ideal config would be

[code]
I am going to relax such check. For your own temporary work around, since you own your own ppx, you can pass it without arguments.

[2019-07-30 12:22] bobzhang commented on #3709
@jaredly I changed the schema to support ppx arguments, see this: https://github.com/BuckleScript/bucklescript/pull/3713/commits/e9f68ec64463383f5cb82f604a5a62d781e7c70d

[2019-07-30 12:34] bobzhang commented on #3709
merged in master

[2019-07-30 12:34] #3709 closed

[2019-07-30 12:35] bobzhang commented on #3482
@alexfedoseev I will add a field `ppx-dev-flags`, so that it will only be needed in dev dependencies

[2019-07-31 03:17] bobzhang commented on #3482
@alexfedoseev The challenging part is that it is hard to specify .merlin file, editor support

[2019-07-31 04:40] shuufi commented on #3661
There is probably some restriction in this particular workstation that I couldn't resolve. The non-Administrator mode install also did not work. I tried via WSL and it works with with the `--unsafe-perm`.

[2019-07-31 04:40] #3661 closed

[2019-08-01 05:50] alex35mil opened #3716 "Apply `-bs-g` flag via environment variable"
As per Discord discussion, to avoid accidental production builds with `-bs-g` applied via config, apply it via environment variable instead.

[2019-08-02 18:14] pm-mck commented on #3666
@bobzhang would you mind porting the ninja fix to a beta release of the 6.x tree?

[2019-08-03 02:12] bobzhang commented on #3716
Do you use debug build by default, how about generating `.g.js` for `-bs-g`?

[2019-08-03 02:15] bobzhang commented on #3674
I am thinking that we bundle a .tar inside bucklescript repo as a fallback, what do you think

[2019-08-03 05:59] jaredly commented on #3709
thanks!

[2019-08-04 01:37] bobzhang commented on #3666
@pm-mck certainly

[2019-08-06 02:49] jyc opened #3725 "The entry point for the compiler should be documented"
First of all, thanks for the useful project!

I'm interested in using BuckleScript for a project. However, as it stands, because of a lack of documentation, it's not clear:

- what the general architecture of the compiler is, or even
- where the main entry point of the compiler is

I'd like to know these things so that I can modify the compiler myself if needed.

The Licensing section on the READM

[2019-08-06 03:14] fczuardi commented on #3325
It works for "5.1.0-dev.4" but fails for "6.0.3".

Should this be reopened?

[2019-08-06 05:37] bobzhang commented on #3725
hi @jyc, thanks for your interest. I updated the staled docs in https://github.com/BuckleScript/bucklescript/pull/3726/files

[2019-08-06 13:18] bobzhang opened #3730 "simplify `return undefined` as return"
[code]
Further to explore, encode `unit` as undefined

[2019-08-06 13:18] vphantom commented on #3660
For that matter, I get `Duplicated package` warnings even if both dependencies are of the exact same version (installed with `npm link` because they're local in my testing).

[2019-08-07 09:46] arnihermann commented on #3691
Sorry about the late response, but I just went through our issue again and this is what happens for us:

1) We fetch an object from a database
2) The object is used to pretty-print a string using the `Format` module and `fprintf` function – the object contains a string `What’s New` that is passed to `fprintf` with a `%S` format
3) The string is written to file using Node's `writeFileSync`
4) The f

[2019-08-07 11:48] RasmusKlett opened #3732 "Belt.Int.fromString silently throws away part of input"
I encountered some very surprising behaviour using Belt.Int.fromString. If given the string representation of a floating point number, it will silently ignore anything beyond the decimal point.

Looking at the [source](https://github.com/BuckleScript/bucklescript/blob/master/jscomp/others/belt_Int.ml), it turns out fromString is simply wrapping the Javascript [parseInt](https://developer.mozilla.o

[2019-08-08 01:10] bobzhang commented on #3732
@RasmusKlett looks reasonable, do you have a clean alternative in mind?

[2019-08-08 01:13] bobzhang commented on #3691
I will dig into later, when you have time, would you make a small example so that I easily reproduce? thanks

[2019-08-08 03:55] jyc commented on #3725
Hi @bobzhang, thanks for doing this! I really appreciate it. I can also try write some documentation if I have time, in which case I'll open pull requests. Thank you.

One other question I have: is there some documentation about what patches were made (in the big-picture view) to the OCaml compiler? I could read the commit log for the BuckleScript/ocaml repo, but if you have some high-level plan o

[2019-08-08 09:13] arnihermann commented on #3691
Here's the example: https://reasonml.github.io/en/try?rrjsx=true&reason=PYBwpgdgBAYsBOBbAhgFwNwChMBsyqgGdV4BLCAcygF4oBvAKwB8B1ACzUEwCQqAOTADuTBgF8smAPQAqKAFIeAE2BhCEAOQEUlPFFRswUYAFdUIE1CkTMAMxBkIqawApi8APrWEKVKjDwANFAARLIAykGBruQUAJRYAFKEAHQ4wBRO1jhGhGxurh5eaL7wTjFxmEA

My editor is utf-8.

[2019-08-08 11:38] RasmusKlett commented on #3732
I've tried a few versions, but haven't been able to maintain the performance of the builtin parseInt. I'm not sure how much we care about performance, but maybe someone smarter than me can help?

I've tried simply wrapping the OCaml int_of_string, this has a 3x performance penalty on my machine (Excuse the reason syntax):
[code]
Note this does not allow leading whitespace - I'm not sure what the c

[2019-08-08 18:55] CarpeDiemKopi opened #3737 "Your installing instructions are buggy"
I try to follow [Installation Michiel Westerbeek 21 Jan 2018](https://github.com/BuckleScript/bucklescript/wiki/Installation)
1. Using opam
You can use the vanilla opam package manager, available here, to access the OCaml compiler version necessary to use BuckleScript. Once you have opam installed, ask opam to switch to using our version of the compiler:
[code]
**I get:**
[code]
[OCaml for Windows

[2019-08-09 10:31] bobzhang commented on #3737
Hi @CarpeDiemKopi  sorry for the staled docs.
If you want to build from source: https://github.com/BuckleScript/bucklescript/blob/master/CONTRIBUTING.md#setup
Note we provide the binary package for Windows users, but building from source on Windows is not supported.
Just removed the staled docs

[2019-08-09 10:31] #3737 closed

[2019-08-09 10:34] bobzhang commented on #3732
I don't think performance is critical here, but not introducing additional deps is quite important.
Would you mind send a PR?

[2019-08-09 10:55] #3730 closed

[2019-08-09 11:36] RasmusKlett commented on #3732
It will take me some time, I haven't tried committing to the project before. I will give it a shot next week.

Unless someone disagrees, I will go ahead and use the Mozilla-suggested version of validating the input using a regex. This has the lowest performance hit, and it can allow leading whitespace.

[2019-08-10 00:46] bobzhang commented on #3732
@RasmusKlett There is one thing annoying that in latest js, `3_23` is legal, how shall we handle it properly

[2019-08-10 21:28] CarpeDiemKopi opened #3742 "Add a deprecation warning to the old Manual (was : building from source problem no errors and no bsc.exe)"
[manual: Build BuckleScript compiler and its toolchain](https://bucklescript.github.io/bucklescript/Manual.html)

[code]

No errors and no **`bsc.exe`**.

How to fix this?

[2019-08-11 14:00] bobzhang commented on #3742
Hi, see my comment here https://github.com/BuckleScript/bucklescript/issues/3737#issuecomment-519869884
I will add a deprecation warning to the staled docs, we will keep docs update to date here https://bucklescript.github.io/docs/en/installation

[2019-08-15 14:40] bobzhang opened #3752 "Windows error "The filename, directory name, or volume label syntax is incorrect.""
Some relevant links:
https://blogs.msdn.microsoft.com/twistylittlepassagesallalike/2011/04/23/everyone-quotes-command-line-arguments-the-wrong-way/
http://www.eventghost.net/forum/viewtopic.php?t=9491
https://github.com/EventGhost/EventGhost/pull/150/files

[2019-08-15 16:33] pm-mck opened #3754 "bs-platform 6.1.0-dev.6 seems to expose version 5.1.0-dev.3 during clean"
When running in CircleCI on a node:lts builder without any preloaded modules, running `clean-world` fails with the following:

[code]

Tested with version `6.1.0-dev.5` and it works fine.

[2019-08-15 19:10] aaronshaf commented on #2772
How is this coming?

[2019-08-15 19:31] dmtrKovalenko opened #3755 "Consider providing [@bs.uncurried] for the external definitions"
Actually this is a feature request for reason:

Right now it is not possible to correctly fit the already carried javascript functions into the ReasonML world. For example [https://date-fns.org/v2.0.0-beta.4/docs/fp/closestTo](date-fns) has their own FP build with already carried functions. That will be awesome to reuse in Reason. But right now you need to make something like

[code]

I`d like to

[2019-08-16 00:48] bobzhang commented on #3754
@pm-mck can confirm. Good news is that we have not made an official release yet, will fix it in the official release

[2019-08-16 00:50] pm-mck commented on #3754
Sounds great, thanks!

[2019-08-16 05:22] alexfedoseev commented on #3716
Currently I turn it on occasionally, when I need to inspect something at runtime, so not by default.

Isn't it introduces the same issue that it's required to change sources to switch the build? (e.g. change imports in js files)

[2019-08-16 05:59] bobzhang commented on #2772
We are moving in this direction (slowly though)

发自我的iPhone

------------------ Original ------------------
From: Aaron Shafovaloff <notifications@github.com>
Date: Fri,Aug 16,2019 3:10 AM
To: BuckleScript/bucklescript <bucklescript@noreply.github.com>
Cc: Hongbo Zhang <bobzhang1988@gmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [BuckleScript/bucklescript] Allowing compiled code del

[2019-08-16 07:26] bobzhang commented on #3752
fixed in #3756

[2019-08-16 07:26] #3752 closed

[2019-08-16 15:04] Risto-Stevcev opened #3758 "External `not` transpiles to `not_`"
The external for `not` gets transpiled into `not_` but it isn't a reserved keyword for Ocaml or Javascript. It's happening on `bs-platform-5.0.4`. See Risto-Stevcev/bs-chai#3

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Lexical_grammar#Keywords
https://caml.inria.fr/pub/docs/manual-ocaml/lex.html#sec86

[2019-08-16 15:16] glennsl commented on #3758
`refmt` is the one doing this, not BuckleScript. I don't think this is documented anywhere (of course), not even in the release log, but it's explained here: https://github.com/glennsl/bs-jest/issues/41

[2019-08-16 19:20] Risto-Stevcev commented on #3758
Yeah I'm not surprised. One of the main reasons I switched to bucklescript syntax is that the reason -> ocaml reformatting really obfuscates the code and introduces strange things like this. One other one was that you could use any kind of string as a key in JS objects in reason -- somehow it would bypass Ocaml to do it because it wouldn't work with refmt directly.

[2019-08-16 19:20] #3758 closed

[2019-08-16 23:46] sikanhe opened #3759 "Bug: Wrong compiler output for Lazy values in some edge case, causing runtime error"
I am not sure what the exact reason for the cause, but the following code

[code]

Outputs this
[code]

Notice that the code for checking Lazy tag state is grouped together:
[code]

Here the Lazy tags are being evaluated at the same time, causing `CamlinternalLazy.force_lazy_block(hello)` to be called twice and thus cause a run time error:

Reason example and run time error can be seen here:
https

[2019-08-17 10:22] aantron opened #3761 "bsconfig: per-directory and dev ppx-flags needed for Bisect_ppx (coverage)"
[Bisect_ppx](https://github.com/aantron/bisect_ppx#readme), the coverage tool, now works with BuckleScript ([instructions](https://github.com/aantron/bisect_ppx#BuckleScript), [starter repo](https://github.com/aantron/bisect-starter-bsb#readme)). It needs a bit of help from BuckleScript, however, for the integration to be truly painless.

I opened a new issue to keep the text together, and also be

[2019-08-19 01:37] bobzhang commented on #3761
Hi @anntron, it is nice to see bisect works with bucklescript.
The ppx per directory is easy to implement, but it is hard to generate proper merlin file, how does dune solve this issue?

IIRC, there are three things from bisect_ppx, the ppx tool, ppx runtime, and ppx coverage report analzyer, do you think it is possible to subsume into bs-platform directly (mostly ppx runtime, so it can build dire

[2019-08-19 02:55] bobzhang commented on #3754
should be fixed in 6.1.0, feedback is welcome

[2019-08-19 02:55] #3754 closed

[2019-08-19 02:55] bobzhang commented on #3742
Hi, I added a deprecation warning to the old Manual, let me know if you have any issue with the new build instructions

[2019-08-19 02:55] #3742 closed

[2019-08-19 03:41] bobzhang commented on #3759
@sikanhe this is caused by unspecified evalutation order in parameter, thanks for report, will fix it in next release

[2019-08-19 04:48] bobzhang opened #3763 "Improve lazy evaluation compilation"
The current compilation scheme by native is complicated and does not benefit the JS backend

https://github.com/ocaml/ocaml/blob/cbd0753ec62c9e4e71e502c85af0d38c7dfe851c/stdlib/lazy.ml#L25
https://stackoverflow.com/questions/56746374/how-does-ocaml-represent-lazy-values-at-runtime
Since JS GC does not treat lazy value specially, it does not make too much sense to have a special representation for

[2019-08-19 09:53] bobzhang opened #3765 "Enforce function arguments evaluation order (the same as JS, left to right)"
The evaluation order is undefined in ocaml

[2019-08-19 10:16] bobzhang commented on #3763
fixed in master

[2019-08-19 10:17] #3763 closed

[2019-08-19 10:17] bobzhang commented on #3759
fixed in master

[2019-08-19 10:17] #3759 closed

[2019-08-19 10:19] bobzhang commented on #3759
@sikanhe note there is an work around
[code]

[2019-08-19 13:07] aantron commented on #3761
@bobzhang, can you give some detail on what is the difficulty with the `.merlin` files? I didn't see anything in the linked issues, and I can't think of what the problem would be.

It's possible to subsume Bisect into bs-platform directly, but how would you like to do it? You are correct about the pieces it has.

Ideally, if it's possible to keep Bisect separate, that would be best for administrat

[2019-08-20 09:37] bobzhang commented on #3761
How do you config .merlin to have various ppx flags for each directory?

Depends on the size of the project, if it is small, maybe worth venturing, otherwise, as you said, keep it separate works better

[2019-08-20 09:40] aantron commented on #3761
You can place a `.merlin` file in each directory. At least, that's what Dune does in each of my projects.

[2019-08-21 09:27] bobzhang commented on #3761
Ah, I did not know that. Thanks for the info

[2019-08-21 13:16] bobzhang opened #3769 "Not using Arg module since it swallows backtrace badly"

[2019-08-21 22:40] mlms13 opened #3770 "Bucklescript generated if statement always evaluates to true"
The following OCaml:

[code]

Produces this JS:

[code]

The final `if (exit === 1)` condition will always evaluate to `true`. This isn't a big deal, but it seems a little strange, and it causes [Jest's coverage reporter](https://jestjs.io/docs/en/cli#coverage) to think that the implied `else` branch is untested (when in reality, it's unreachable).

[2019-08-22 05:52] #3769 closed

[2019-08-23 17:42] mrmurphy commented on #1326
@bobzhang, in order to be able to actually use `let*/let+` for async binding, what are all the things that would have to happen? I was trying to dig into it a while back and this is what I understood from asking around:

- We'd have to have a version of BSB that targets `4.08.1`.
- Refmt would have to parse `let*/let+`.
- Bucklescript would have to recognize the language construct (or AST node?) a

[2019-08-23 17:44] mrmurphy commented on #1326
According to @anmonteiro this is what needs to happen before we can have a feature like this included in the language:

Is that in line with your thoughts @bobzhang?

[2019-08-23 17:47] aantron commented on #1326
On the native side, Dune has `future_syntax` (https://dune.readthedocs.io/en/stable/dune-files.html#future-syntax) to allow older compilers to use `let+`. That preprocessor could also be adapted. But it's probably "smarter" to switch to 4.08.

[2019-08-23 22:12] Et7f3 commented on #931
What about Windows style path C:\foo or c:/ ? (we can have uppercase/lowercase letter for hard drive)  (and both slash are supported when quoted). Does it handle UNC path ?

[2019-08-26 04:01] aweis opened #3776 ".bs.js output should not have trailing whitespace"
I noticed that the generated .bs.js output for certain structures (like switch statement cases) have a trailing space on them.  This causes basic js linters to fail, and potentially limits users from using a whole suite of lint rules on their .bs.js files.

[2019-08-26 07:16] stouf opened #3777 "bsb -init: project name considered invalid if starting with a number?"
Steps to reproduce:

[code]

Here is a link to NPM's naming rules: https://github.com/npm/validate-npm-package-name#naming-rules
NPM even uses `123numeric` as example of a valid package name there: https://github.com/npm/validate-npm-package-name#valid-names

Version of `bsb`: 5.0.6
Operation system: Mac OS 10.14.6

[2019-08-26 08:25] bobzhang commented on #3770
fixed in #3778

[2019-08-26 08:25] #3770 closed

[2019-08-26 13:00] bobzhang commented on #3776
@aweis would you mind submit a small example? thanks

[2019-08-26 17:44] TheSpyder commented on #3716
I would like this (or something similar) as well. I'm starting a new project and hoping to enable `-bs-g` by default in the early stages, but eventually we'll need a production output mode and it would be a shame to need `bsconfig.json` adjustments to toggle it.

How about a command line argument to `bsb` that turns on the `-bs-g` compiler flag? That would also allow it to be used on demand or (in

[2019-08-27 02:32] alexfedoseev commented on #3716
@TheSpyder Just fyi, flag was the first thing proposed in Discord discussion but @bobzhang preferred env var way back then.

[2019-08-27 07:18] TheSpyder commented on #3716
I can still vote for a flag as my preference 😉

An environment var would be fine, though, I'd just set it temporarily e.g. `BS_DEBUG=true bsb` instead of `bsb -debug`

[2019-08-27 08:08] osener commented on #3716
I find bs-g very useful and always have it on in my bsconfig.json. I strip it away using sed for production builds.

If this is going to be implemented, I think it would be useful to have an environment variable similar "DUNE_PROFILE" instead of one that only turns dev mode _on_.

[2019-08-27 08:57] TheSpyder commented on #3716
Exactly. I don't mind how it's implemented, as long as I don't have to patch the config in a build script.

[2019-08-27 21:51] thislogancall opened #3781 "build fails when parenthesis is in project path"
Build flat out fails if there is a parenthesis in the project's path. While I would just change the directory name it's actually generated by an application and there's no way around it.

Here's the output of running `bsb -make-world`

[code]

[2019-08-28 00:21] bobzhang commented on #3781
it seems the stdlib path is not quoted properly

[2019-08-28 01:46] bobzhang commented on #3777
hi @stouf the thing that we are strict about it is that the package name may also be used as a namespace, any particular reason you want to have a name`123-numeric`?

[2019-08-28 01:56] stouf commented on #3777
Hey @bobzhang !
Thanks for the reply 🙂

Ah okay, that makes sense then 👍
What do you think about adding that to the error message? Something like `The project name must be valid, both as a npm package name and as a ReasonML/Ocaml namespace.` maybe?

No, no particular reason. I was just preparing a script for a repository where the convention is to use a date as prefix for the name of the folder wh

[2019-08-28 05:17] #3781 closed

[2019-08-28 13:29] bobzhang commented on #3776
fixed this specific case, let me know if there's other cases

[2019-08-28 13:29] #3776 closed

[2019-08-28 20:37] JulesGuesnon opened #3789 "Bsconfig "public" field not inherited"
Hi !
I'm trying to use the "public" key in bsconfig to expose only one file/module.
[code]
The entire code is [here](https://github.com/JulesGuesnon/reason-react-hooks)

But when i put my package in another project. VsCode is able to show me all of the files/modules in the package.
I compared in some other project using the "public" and it's the same result, you can access to all of the modules.
I

[2019-08-29 14:54] thislogancall commented on #3781
Thanks for taking care of that @bobzhang. Do you know if it's possible to use these fixes right away? I'm not sure how to go about this since I install bs-platform and not BuckleScript directly.

[2019-08-30 05:15] TheSpyder commented on #3789
Same thing is happening with existing projects, e.g. I’m including bs-webapi-incubator and all of the internals are fully accessible

[2019-08-30 08:37] tsnobip commented on #3789
I tested this issue on 5.0.6, 5.0.1 and 6.0.3 with the same result, you can access private files and compile code that calls private files.

[2019-08-30 19:58] mlms13 opened #3796 "Hitting lots of "stale" build errors on 5.0.6"
A few of us were talking in the #bucklescript channel on Discord, and we've been noticing an increase in the number of "It's possible that your build is stale" errors. Here's an example:

[code]

It seems to happen pretty often (but not quite all the time) when I edit a file that two or more unique modules depend on.

In the above example, I had Bucklescript's watch mode enabled, and I had just tr

[2019-09-02 01:17] bobzhang commented on #3796
To help me diagnose.
Can you reproduce this in 5.1.0?
Can you reproduce this not using editor/watch mode
e.g,
[code]

[2019-09-02 01:28] bobzhang commented on #3573
fixed in master

[2019-09-02 01:28] #3573 closed

[2019-09-02 02:28] #3777 closed

[2019-09-02 02:33] stouf commented on #3777
@bobzhang Thanks! 😀

[2019-09-02 02:34] bobzhang commented on #3789
This is probably not a bug, `public` is not inherited, the semantics is arguable

[2019-09-02 08:02] TheSpyder commented on #3789
By "not inherited" are you talking about internally (to subdirectories) or externally (when the library is used by other projects)?

I am positive it used to work the way we're trying to use it, why else would libraries be [published with this configuration](https://github.com/reasonml-community/bs-webapi-incubator/blob/master/bsconfig.json#L12) 🤔

[2019-09-02 08:06] TheSpyder commented on #3789
Oh, my bad, the bs-webapi folder structure changed 5 months ago. I guess ever since then the internal modules have all been exposed.
https://github.com/reasonml-community/bs-webapi-incubator/commit/bc0badfc40420e271f4b1703dd9c43bed7d68b13

[2019-09-02 08:09] TheSpyder commented on #3789
Also, as recently as March this year articles have been written about using this exact config:
https://dev.to/yawaramin/bucklescript-best-practice-public-and-private-modules-5ald

[2019-09-02 15:24] TheSpyder commented on #3796
I can reproduce in 5.1.0. I don't know if I can build a small test case, but I can confirm it happens when not using editor/watch mode.

I have a fairly central module, used at the tip of a growing list of dependencies. Very few parts of my system depend on this module directly; the majority are via a module alias or `[@bs.deriving abstract]` generated types. It will probably take me a while to tr

[2019-09-02 15:27] TheSpyder opened #3800 "When generating an interface file, externals with [@bs] attributes are incorrect"
I have a module which includes externals with attributes such as `bs.send` and `bs.module`:
[code]

However, when I generate an interface file (using either the `vscode-reasonml` project or `bsc -i` in 5.1.0) the file it produces is invalid:
[code]

Copying the source definitions to the interface file works.

A similar issue happens with generating OCaml interfaces, this syntax:
[code]

produces t

[2019-09-03 14:42] bobzhang commented on #3789
I will double check later. `public` has to be set per directory (traverse brings subdirectories but those are by default all public)

The semantics does not sound intuitive, inheritance seems better

[2019-09-03 14:47] bobzhang commented on #3796
This is possible when X.cmi is rebuilt but its content is actually not changed. A workspace that I can reproduce would be very helpful

[2019-09-03 15:36] TheSpyder commented on #3789
Has it always been this way? The evidence and usage suggest at one time `public` _was_ inherited. Or maybe a lot of people have been exposing their internals without realising for a long time.

I'll have a play with turning off `subdirs` and make sure that works for my use case 😁

[2019-09-03 15:45] JulesGuesnon commented on #3789
I just tried and did something like this
[code]

And it works !
In fact, compiler was telling me that it couldn't find module when trying to access it. But VsCode completion was still showing them (but this not related to Bucklescript).

[2019-09-03 19:29] TheSpyder commented on #3796
There are a lot of modules that rebuild when this core piece changes, which haven't themselves changed. But not enough of them it seems 🤔

As another example of the same issue, if I comment out one of the APIs on this core piece there is no build failure until I do a rebuild; not enough of the modules that depend on it are rebuilt when it changes.

I built a sample project, Module aliases seem to

[2019-09-03 21:44] d4h0 commented on #1974
@glennsl: Did the problem get fixed or did you find a solution? Otherwise, why did you close this issue? I think, some kind of workaround still would be useful.

[2019-09-04 05:36] bobzhang commented on #3789
can you elaborate

[2019-09-04 07:20] bobzhang commented on #3796
[code]
It seems Demo__internal was not recorded properly

[2019-09-04 07:48] JulesGuesnon commented on #3789
Oh sure, for the config i write above, i had a file looking kinda like this
[code]

[code]

And when i used it:

[code]

The compiler tell me `The record field x can't be found.`

[2019-09-05 05:08] bobzhang opened #3806 "Upgrade refmt"

[2019-09-05 05:13] bobzhang commented on #3796
So the issue is that in a namespaced project.
[code]
is actually
[code]
If Project_b is only used as alias in project_a.ml, then only Project is recorded as a dependency, since Project is a special file(namespace file), it is created upfront, it does not record the dependency on Project_b (otherwise a cycle dep would be introduced), so Project_b changes would not trigger Project_a in this special

[2019-09-05 06:50] bobzhang commented on #3796
relevant issues: https://github.com/ocaml/ocaml/issues/6843

[2019-09-05 07:28] TheSpyder commented on #3796
Me? I'm not very familiar with dune, sorry. I made some toy projects back in the jbuilder days but that's about it.

[2019-09-05 14:05] bobzhang commented on #3796
Here is a small example that showing the property that cmi containing the transitive dependencies no longer hold after bring the -no-alias-deps in single place:

ns.ml
[code]
mty.ml
[code]

[code]

[code]

mty no longer depends on Ns. Note we can not take the approach dune adopted by imposing transitive dependencies in the system level , that would render our effort of content-based build system n

[2019-09-05 19:53] andywhite37 opened #3807 "Some operators generating duplicate exports in es6 and commonjs"
With Bucklescript 5.0.6, the following (ReasonML) code:

[code]

produces this .bs.js output:

[code]

There seem to be two issues here:

1. `&` and `?` don't seem to be recognized as valid characters in the operators, and are represented as `$unknown` in the js
2. in the export list, the `$less$unknown$great` name is being duplicated, which causes problems in webpack, etc.

If these characters ar

[2019-09-05 20:00] mlms13 commented on #3807
Looks like it's not only es6. For the following ocaml:

[code]

the commonjs output is:

[code]

So the collision is present there as well.

[2019-09-06 01:26] bobzhang commented on #3807
This could be an easy fix, would anyone give a try? It should be fixed in jscomp/ext/ext_ident.ml

[2019-09-06 01:34] mlms13 commented on #3807
I'd tentatively be interested in taking a stab at it, but I've never built bucklescript from source before and I'm about to be offline for the next couple hours. If no one has fixed it by the time I get back, I'll take a look.

[2019-09-06 01:55] bobzhang commented on #3807
Hi @mlms13 we would like to make contribution easier. About building it should be easy (https://github.com/BuckleScript/bucklescript/blob/master/CONTRIBUTING.md), let me know if you hit any issue

[2019-09-06 03:17] #3796 closed

[2019-09-06 03:17] bobzhang commented on #3796
This is indeed a tough issue, great that we own the whole compiler that we can do a clean fix. can you confirm that everything looks good after https://github.com/BuckleScript/bucklescript/pull/3805?

[2019-09-06 05:51] TheSpyder commented on #3796
I’m happy to try, how do I install from master? Check out the codebase and build it myself? 🤔

[2019-09-06 16:53] hamza0867 commented on #2849
Hi, what about a helper function like string_of_variant at least ??

[2019-09-07 07:38] romanschejbal commented on #2972
I'd also be interested to know why this is the case and where it is headed. We encountered this issue with our monorepo setup and the compiler errors are (only in some cases, "module x is dangling" is the most obvious one but doesn't always show up) not that great so it took us quite some hard time to find out that one of the consumer packages needs to list dependencies recursively.

[2019-09-08 07:39] #3807 closed

[2019-09-08 07:42] bobzhang commented on #3789
hi @JulesGuesnon in this case you need make sure the type definition of coords is also exposed to the user.
you can add such code in the public code (in ocaml syntax)

[code]

[2019-09-09 02:24] bobzhang commented on #3781
@thislogancall I will make a beta release soon

[2019-09-09 12:47] #3674 closed

[2019-09-09 13:20] bobzhang commented on #3674
@Prateek13727 can you check that installation from a specific commit using yarn works now?

[2019-09-09 13:21] bobzhang commented on #3796
@TheSpyder I made a change in the last commit, so that install from master should work out of box (no git submodule needed), feedback is welcome and appreciated (build errors are hard to debug)

[2019-09-10 02:22] bobzhang commented on #2972
@romanschejbal I will write an article about it. The main thing is that `module alias` is not transitive, it is not designed for re-exporting

[2019-09-10 23:02] Et7f3 commented on #2950
We might close this issue because this template isn't available anymore https://github.com/BuckleScript/bucklescript/commit/01abf6e1669d76f856501635384259a9d0ad277e

And maybe open a new one or rename  this one because

over to the react-hooks template later.

from the commit msg.

[2019-09-11 08:44] TheSpyder commented on #3789
This probably needs to be a new ticket, but that exact requirement is the part where I'm unhappy with how `public` breaks the type system. A long time ago I was trying to extend the old `bs-containers` library and I couldn't because it relies heavily on module aliases and any attempt to reference internal library features broke down.

I'm having a similar issue in my own `stdlib` bundle at the mom

[2019-09-11 16:37] nirvdrum opened #3815 "Tag releases"
As of today, the last tagged release on GitHub is 3.1.0 from May 2018. `bs-platform` 3.1.0 doesn't exist on NPM, while 5.1.0 and 6.1.0 are both available. It would be helpful if releases were tagged and pushed up to GitHub. Note, this isn't a request to use the GitHub Releases mechanism, just create a normal git tag and push it up to GitHub.

[2019-09-11 20:56] JulesGuesnon commented on #3789
@bobzhang Thanks for the answer. It make sense that if a module is not exposed then types aren't, I should have noticed it before

[2019-09-12 05:23] bobzhang commented on #3815
ack

[2019-09-12 06:16] jfrolich opened #3817 "option to not generate deprecated getters when using @bs.deriving abstract"
When creating a `[@bs.deriving abstract]` type the ppx creates getters and setters. The getters now are functions of the attribute of the record + 'Get'. For instance to get the options of the test record below I can call `optionsGet(test)`. However it also creates a deprecated `options` function that does the same. In below example this overwrites the creation function of the options type.

[code

[2019-09-12 12:38] DCKT opened #3819 "Handle uncommon property name from a JS object"
Hello,

Actually it's impossible to access an uncommon named property through `##`.
As proposed in the bucklescript discord channel , we could support something like this :
[code]

[2019-09-13 11:36] ELLIOTTCABLE opened #3820 "Support for idiomatic tuple-style version-comparison in the preprocessor"
At the moment, BuckleScript's built-in, minimal preprocessor supports only some JavaScript-style version-comparison operators; for instance, [the example from the docs](https://bucklescript.github.io/bucklescript/Manual.html#_conditional_compilation_support_static_if):

[code]

This is very confusing, as it turns out there's idiomatic pre-existing usage of *almost this exact syntax* in cppo, withi

[2019-09-13 15:21] TheSpyder commented on #3800
I didn't mention it above, but when I remove the invalid syntax I get errors like this:
[code]

I managed to create an interface file with `let` function signatures instead but now my JS has a function wrapper for every external definition:

[code]

These simple functions shouldn't cause much runtime overhead, but the lack of externals on the interface makes the generated code _using_ these extern

[2019-09-15 02:59] bobzhang commented on #3819
let's revivie #1000

[2019-09-15 06:59] daviddias commented on #1274
Thank you for [outlining the options](https://github.com/BuckleScript/bucklescript/issues/1274#issuecomment-282592779), @quicksnap. I feel you, having so many auto-generated files in my src folder is weird to me also. Subscribing to this issue waiting for a future elegant solution as well.

[2019-09-16 01:42] bobzhang commented on #3819
fixed in #3822

[2019-09-16 01:42] #3819 closed

[2019-09-16 01:43] bobzhang commented on #3817
I think this should be the default behavior, but a bit concerned that whether it will break existing code

[2019-09-16 01:45] bobzhang commented on #3800
@TheSpyder I am a bit lost, I think you can always write external with bs annotations in the interface by hand, does not it work

[2019-09-16 02:54] bobzhang commented on #3820
Note I picked the string mostly due to we have very small complexity budget, this extension is a tiny patch to the ocaml lexer in a single pass

[2019-09-16 04:32] jfrolich commented on #3817
I discovered `[@bs.obj]` as an alternative, so that actually solved my problem!

[2019-09-16 08:02] TheSpyder commented on #3800
Oh I did say that, didn't I

[2019-09-16 08:25] TheSpyder commented on #3800
Oh I did say that, didn't I

I've had many occasions when copy/pasting doesn't work, but I looked a bit deeper and it turns out all of them were just very _very_ confusing. For example cascading syntax errors resulting in a `reason-vscode` highlight on line 1 instead of at the correct location(s):

[code]

I'm also dealing with a lot of complicated things:

* local modules, where the reasonml diff

[2019-09-16 08:38] TheSpyder commented on #3800
I had some additional confusion trying to use `[@bs.deriving]` on a record with normal use in the module but hiding the creation function in the interface, in the end it looks like adding `pri` on the interface while leaving it out in the implementation _does_ work. I had some weird errors similar to above but it's all lining up now.

[2019-09-17 14:32] cknitt commented on #3521
👍 This would be absolutely great to have!

Our use case is a yarn workspaces monorepo with the following packages:

* A: Web app (built with reason-react)
* B: Mobile app (built with reason-react-native)
* C: Common business logic (one or more packages built in Reason)

with both A and B depending on C.

Currently, when running `bsb -w` in A or B, changes in C are not picked up.

[2019-09-19 12:22] cristianoc opened #3833 "Investigate modular implicits as a library."
Oleg has proposed a way to achieve the effects of modular implicits using a library implementation instead of relying on a future extension of the OCaml compiler:
  http://alan.petitepomme.net/cwn/2019.09.10.html

@let-def has provided some background info and more context.

Here's an old presentation about the earliest incarnation of this idea:  https://ocaml.org/meetings/ocaml/2013/slides/henry.

[2019-09-19 13:42] bobzhang commented on #3796
@TheSpyder I think both are fixed with 5.2.0-dev.2 would you have a try?

[2019-09-19 13:44] bobzhang commented on #3833
It seems to make more sense now give module is compiled as a dictionary

[2019-09-19 13:45] TheSpyder commented on #3796
Yes, I've been using it all day since your announcement on discord and it seems good 👍

[2019-09-21 02:09] bobzhang opened #3838 "The visualization of runtime value does not have enough space"
<img width="259" alt="Screen Shot 2019-09-21 at 10 07 46 AM" src="https://user-images.githubusercontent.com/747051/65366530-d37d9900-dc57-11e9-871b-4fed96e0aef2.png">

In the pic, B(0,0,A 2, A 1) should have some whitespace, the fix should be in the module caml_chrome_debugger

[2019-09-21 04:05] mlms13 opened #3839 "5.2.0-dev.2 imports unused modules in JS output"
Since trying out 5.2.0-dev.2, I've noticed quite a few unused imports in the compiled files. In particular, this seems to happen with modules that alias others as submodules. For front-end assets, this has the potential to add bloat to the bundled JS, though bundlers that support tree-shaking will probably eliminate the issue.

Here's a very simple example using [Relude](https://www.npmjs.com/pack

[2019-09-21 04:09] mlms13 commented on #3839
I pushed a small demo repository, in case that helps: https://github.com/mlms13/bsb-issue-3839

[2019-09-21 04:31] mlms13 commented on #3796
Sorry I didn't do more to follow up on this, but I can also confirm that with 5.2.0-dev.2, things seem to be great.

[2019-09-22 01:14] bobzhang commented on #3839
I am not sure what's the right solution.
Recently we made a fix that will track effectful module alias, `module A = B` if B is not pure, it will still be linked in

[2019-09-23 03:37] bobzhang commented on #3839
I am going to close this issue, let me know if you have better ideas.

[2019-09-23 03:37] #3839 closed

[2019-09-23 07:43] bobzhang commented on #3815
5.2.0 tagged

[2019-09-23 07:43] #3815 closed

[2019-09-23 10:44] Coobaha opened #3842 "bsb clean is not removing gentype files"
Decided to create a new issue so that it won't be lost in notifications spam

`bsb -clean` or `bsb -clean-world` is not removing all `.gen.tsx` files but some of them. It is especially annoying after git branches switch. Would be great if bsb will clean stale gentype files too.

[code]

[code]

https://github.com/cristianoc/genType/issues/8#

[2019-09-23 11:02] bikallem opened #3843 "5.2.0/6.1.0 fails to install on windows"
Just tried to install 5.2.0 on windows using the following cmd
```npm -g install bs-platform@5.2.0```.
It fails with the following error log.

[code]

[2019-09-23 12:44] bobzhang commented on #3843
can you try `npm i --unsafe-perm`

[2019-09-23 12:51] bikallem commented on #3843
just tried that. Both global and local install fails. log below for local install.

[code]

[2019-09-23 12:52] bikallem commented on #3843
Note 5.0.6 installs and works correctly on windows.

[2019-09-23 13:06] bobzhang commented on #3843
I tested on my windows laptop. works good to me
can you try this in an empty folder with a dummy package.json
[code]

[2019-09-23 13:30] bobzhang commented on #3842
@Coobaha do you have a small example where some .gen.tsx is not cleaned

[2019-09-23 13:44] bikallem commented on #3843
On a clean dir the first command succeeds.

[code]
However, the second one is failing.
[code]

Tried the command manually too but got an error again,
[code]
It seems ```ninja.exe``` doesn't exist in ```lib``` folder.
[code]

[2019-09-23 14:08] bobzhang commented on #3843
That's quite weird, if you go to install.js around lines 100,  ninja.exe should be there

[2019-09-23 14:59] Coobaha commented on #3842
@bobzhang I managed to isolate it, it reproduces when module is in subdir.

https://github.com/Coobaha/bs-gentype-issue

[2019-09-23 17:00] bikallem commented on #3843
Ran
[code]
again for clean install.

Fails consistently in function ```copyPrebuiltCompilers()``` when calling
[code]
This also seems to corrupt ninja.exe somehow. since running
```.\node_modules\bs-platform\lib\ninja.exe --version``` after the error gives empty output and subsequent calls to ```node .\node_modules\bs-platform\scripts\install.js``` tries to build ```ninja.exe```. So we have to rem

[2019-09-23 19:42] mlms13 commented on #3839
I think that's fine. I'll keep an eye out for modules with side effects that don't seem like they should need to be side-effectful, and any amount of JS tree-shaking should take care of the rest.

[2019-09-24 01:49] chenglou opened #3845 "Output has too many parentheses sometime"
[code]

Output:

[code]

[2019-09-24 01:50] chenglou opened #3846 "Output indentation too aggressive"
[code]

Output:

[code]

[2019-09-24 02:02] bobzhang commented on #3843
are you running this on cygwin
can you provide more context, windows version, npm/node version, etc
If you are familiar with js, can you step by step in install.js, I tested on windows machine and windows CI,  both work good to me.
It looks weird, since by reading the log, `ninja binary is copied from pre-distribution` but it seems not work properly. copy.ninja  is doing a copy operation

[2019-09-24 02:07] bobzhang commented on #3843
[code]
This also looks weird to me, since copyPrebuiltCompilers is between lines 229 and lines 237 (not lines 253)
can you change `["-f", "copy.ninja"]` into `["-f", "copy.ninja", "--verbose"]`

[2019-09-24 08:50] bikallem commented on #3843
My stack:
Windows 10(version 1709)

Node.
[code]
Npm:
[code]

I am trying to trace through ```install.js``` and therefore have added logging at various points trying to pinpoint the error. At the moment it fails consistently on line 255 in my modified script.  The modified install.js with logging added is as below,

[code]

[2019-09-24 10:33] bikallem commented on #3843
Ok, I think I finally nailed down the issue. It seems our corporate anti-virus stops/deletes the ``ninja.exe``` included with ```bs-platform``` version greater than 5.0.6. ```5.0.6``` is the last know good version which seems to work okay, i.e. no antivirus issues. Not sure what is the diff between ```ninja.exe``` included with ```5.0.6``` and ```5.1.0/5.2.0/6.1.0```. However, if I copy the ninja

[2019-09-24 15:22] bobzhang commented on #3843
@bikallem The ninja prebuilt binary was introduced in this commit https://github.com/BuckleScript/bucklescript/commit/7b1c3908c372aa0f06c35db35a9a53b598884018
it was built on my surface laptop against this branch https://github.com/BuckleScript/ninja/tree/dev
It is probably a false alarm (I have a vague memory that on windows boot/ocaml used to be reported as virus), but I would be happy to help

[2019-09-25 08:15] bikallem commented on #3843
@bobzhang It seems ninja.exe being classified as a trojan is a persistent issue.
https://github.com/ninja-build/ninja/issues/1540.
https://www.file.net/process/ninja.exe.html

Are you open to a rewrite of ```copyPrebuiltCompilers()``` function that uses nodejs api ```fs.copyFileSync(src, dest[, flags])``` to achieve the same functionality https://nodejs.org/api/fs.html#fs_fs_copyfilesync_src_dest_

[2019-09-25 09:12] bikallem commented on #3843
@bobzhang created a PR #3850 to fix this issue.

[2019-09-25 16:03] Coobaha opened #3851 "JSX3 and externals"
https://reasonml.github.io/en/try?rrjsx=true&reason=NoAQRgzgdAxg9gOwGYEsDmACA3gKwgDwC4MBmAXwF0BuAKBoFs4ATAVwBsBTDABQCc4ADhAwBebDQwZQkKEw68UANxQJMAQ0gAXXmpiaKEjJoCeArptHjJk6dEGaUiNWwPWMaiE2Jg4cNgBpDMlpgukZWTh5uAA1LLENQXg5dTVg4egFEDgR9Q04LejUAay4xAAoAPw8md2EAfW9fNgBKUQA+DAAlZL0oBHY2ENoGZnYuACE1GrF4m3BoRWcKDA58TXkEZwxCkuI+QWgLEQ7ulKgOTnpso4wAIgBldI4AcTY4MGcAYXTMhGvb2iSfLbYocfZCSzgw5DMKjSLPXzTKxSeZQRY

[2019-09-25 17:11] Coobaha commented on #3851
Seems that i was using bindings incorrectly.
[code]
is compiling correctly. Still very confusing, should this be improved somehow?

[2019-09-26 00:24] mlms13 opened #3852 "Make a trade off between module alias and linking behavior"
Minimal demo repo: https://github.com/mlms13/bsb-520-include

Per [this comment](https://github.com/BuckleScript/bucklescript/issues/3839#issuecomment-533841553) in #3839, I've been trying to clean up impure modules to avoid the unnecessary explosion of `import`s in the compiled JS. I noticed that the following OCaml:

[code]

Produces the following JS:

[code]

You can see more context in the sam

[2019-09-26 00:27] anmonteiro commented on #3852
`SemiringExtras` doesn't look pure.

[code]

When applied `S.one` to produce the result, `S.add` could perform a side effect, causing it not to be pure.

[2019-09-26 00:31] mlms13 commented on #3852
OK, how do I convince Bucklescript that it _is_ in fact pure? Because the net effect is that this "impurity" is adding dozens of unused imports to my bundled JS...

[2019-09-26 00:50] anmonteiro commented on #3852
[code]

^ This is the concrete example of what I'm talking about -- the signature is still `val add: int -> int -> int`, but `add 1` is not pure, nor is `add 1 2`.

I don't know what kinds of purity checks BuckleScript has, so I can't speak to that.

[2019-09-26 01:01] mlms13 commented on #3852
I don't know much about the internals, but shouldn't that be caught where `add` is defined? It's true that `SemiringExtras` doesn't know if the module passed to it is pure, but it only does pure things with that module, so it seems strange to assume that the whole tree of modules is impure at that point.

[2019-09-26 01:25] bobzhang commented on #3852
Hi @mlms13 our purity analysis is primitive. Essentially function application (except few cases which is inlined) is classified as impure. Here functor application is exactly the same as function application underlying. Functor application is a runtime behavior not compile time thing.

There is another use case which can delay functor application, would you have a look at how Belt.Map is implement

[2019-09-26 01:35] bobzhang commented on #3851
Hi @Coobaha it is a known issue that alias an external to `let` will reify the code, but that's how OCaml works. There are plans to not generating it if the module comes with a proper signature

[2019-09-26 01:35] #3851 closed

[2019-09-26 01:37] bobzhang commented on #3820
hi @ELLIOTTCABLE since there are lots of complexity budge to spend on cppo side, could it be improved on the other side, like adding `=~ "xx"` functionality on cppo side, we can move together to reach a minimal common subset.
Adding tuple directly would introduce parsing, while our conditional compilation is done in a single lexing pass

[2019-09-26 02:07] mlms13 commented on #3852
I understand the reasoning for closing both this and #3839, but in practice, the combination of the two issues means that every project that uses Relude (or any project that depends on relude, such as [bs-decode](https://github.com/mlms13/bs-decode)) ends up importing every single module in a rather large standard library in the bundled JS.

It would be nice if there was something Bucklescript cou

[2019-09-26 02:35] andywhite37 commented on #3852
@bobzhang - can we have a little more discussion about this?  If modules are being more aggressively assumped to be impure, and this results in more things being auto-imported into the .js files, it's going to wreak havoc with download sizes.  What changed between 5.0.4 and 5.2.0 that caused this to change?

[2019-09-26 03:11] mlms13 commented on #3852
In this case, I think the main change in 5.2.0 was #3839. The "impure" modules already existed (I checked as far back as 5.0.4), but their impurity didn't really matter.

I tested bundling es6 modules using Rollup (which is supposed to be good at tree-shaking as far as I know), and [the one-line example repo](https://github.com/mlms13/bsb-issue-3839/) (`Js.log (Relude.List.toArray [])`) has an ext

[2019-09-26 08:53] Risto-Stevcev commented on #3618
Idris 1 does something similar too, it's really convenient

[2019-09-26 23:43] mlms13 commented on #3839
I looked through the changelog and I didn't see a mention of this. Do you have an issue or pull request I could look at for more detail? Is there any way this behavior could be made opt-in (or opt-out)?

I understand that it may be correct to import unused modules that have effects, but it seems like the use-case for that would be quite rare in an fp language, and this is having a fairly substanti

[2019-09-27 20:56] mishaszu opened #3855 "Failed to install BuckleScript on Windows & WSL"
## Description
I am not able to install `bs-platform` on WSL (Ubuntu) either on Windows itself.

1. On Windows `git bash` I am getting:
[code]

2. On WSL I am getting (the same for changed npm installation folder):
[code]

## Environment
Windows 10
-  `node -v` -> `10.16.3`
- `npm -v` -> `6.9.0`
WSL on Windows 10 (`build-essential` installed)
-  `node -v` -> `10.16.3`
- `npm -v` -> `6.9.0`

## Not

[2019-09-27 23:21] bobzhang commented on #3843
closed, moving discussions into #3850

[2019-09-27 23:21] #3843 closed

[2019-09-28 11:47] JohnGurin commented on #3383
Why to restrict suffix option to certain values? Compiled files are for external usage. Just some warning would be enough if the option is set to something different. In my case, I rename all `.bs.js` to `.bs.mjs`, so they can be used as modules.

[2019-09-30 23:46] bobzhang commented on #3855
This error message seems coming from npm, I tested installation on CMD.exe and powershell, can you try it there

On WSL, by reading the log, it seems that you need `npm i --unsafe-perm` to get the permission, note we are working with false alarm of antivirus issue.

Note bs-platform does not have any dependency, it only has dev dependency, I will do a clean up to remove those warnings, thanks for

[2019-10-01 00:25] bobzhang opened #3857 "update playground"

[2019-10-01 00:35] bobzhang commented on #3852
@andywhite37 I believe it is that we removed `-no-alias-deps` by default, which caused a subtle build system bug.
I think it is okay to have a file with purely module alias to use the old behavior
[code]
But I am unsure it is sufficient to restore the old bundle size

[2019-10-01 00:36] bobzhang commented on #3852
I can add a dirty patch to see if it is what you want

[2019-10-01 02:51] mlms13 commented on #3852
I'm not 100% sure, but I'd guess that special-casing modules that only have module aliases in them would fix the increased bundle size we're seeing with Relude.

In the meantime, I've been playing with Rollup's `moduleSideEffects` flag to eliminate the unused imports, but in the process I've discovered that this Bucklescript change might be the least of our concerns, as Rollup isn't doing a very g

[2019-10-01 04:06] andywhite37 commented on #3852
I'm just now learning about `-no-alias-deps`, and I'm not qualified to really ask questions about this or understand the answers or reasons, but why was `-no-alias-deps` removed by default?  It seems desirable to have `-no-alias-deps` turned on by default, to avoid these problems.  Are you saying that you will restore `-no-alias-deps` to being set by default?  Does `-no-alias-deps` only affect mod

[2019-10-01 11:12] TheSpyder commented on #3732
I agree the default should be more reliable than `parseInt` - and performance probably doesn't matter - but I'd like `parseInt` to still remain somewhere. In some circumstances I _want_ the quirky behaviour.

Perhaps `parseFloat` + `Math.round` would be a better basis for `Int.fromString`?

[2019-10-01 11:37] TheSpyder commented on #3852
I was too late to the discord discussion to mention this - modules as objects shouldn't be causing the addition of extra dependencies, because even compiled to arrays they wouldn't be tree shaken out. I think `-no-alias-deps` is the cause of this.

I believe`-no-alias-deps` was removed because of #3796, with it turned on the aliased module isn't listed as a dependency; this clearly aids in tree sh

[2019-10-01 14:48] andywhite37 commented on #3852
Having a dev mode and a prod mode makes sense to me if that's a good way to address this.  Big bundles in dev shouldn't be a problem for most people if you have to option to do a more optimized prod build.

[2019-10-01 14:55] andywhite37 opened #3858 "Community builds"
The scala compiler team has a "community build" project where they run the nightly compiler builds against a set of community projects to detect compiler issues and changes before getting to a release.

https://github.com/scala/community-builds

It might be useful to set something like this up for bucklescript, and compile some of the popular community projects with the bleeding edge bucklescript

[2019-10-01 22:45] mishaszu commented on #3855
Alright, it seems like `--unsafe-perm` did the job. That's interesting because installation without the flag actually created bin files, and bsb worked but there was a problem with `merlin` server.

Now I am getting:
[code]
and
[code]
from vs-code, but thats probably should be proceed [here](https://github.com/reasonml/reasonml.github.io/issues/571)

Sorry, the command is `npm audit` and `npm audi

[2019-10-02 01:59] AZanellato commented on #3471
I agree with @yawaramin here, I think warnings are really good, specially when coming from a background where you don't know OCaml the warnings are hints for idiomatic code. Also, the disparity between my editor showing the warning and the compiler not showing anything is really, really weird.

[2019-10-02 07:04] TheSpyder commented on #3852
During the discussion in https://github.com/reazen/relude/issues/168 it highlighted to me that perhaps the stale build issue was more recent than I thought - in which case changing `-no-alias-deps` to fix it is a wider fix than was necessary 🤔

Keeping it this way and in a dev mode is my preferred option, but re-evaluating the stale fix might also work

[2019-10-02 13:41] bobzhang commented on #3858
@andywhite37 The master branch is npm installable, I think it is a great idea in general. It would be great that the community could get more involved

[2019-10-02 13:52] bobzhang commented on #3852
Hi, this is a thing we would like to fix (maybe by allowing user to customize the behavior for some special module).
But this is not a regression, _it is a bug fix and the current semantics is correct_ - when you alias a module to a potential effectful module, it will be linked in. For our own built-in namespace support, it  behaves correctly.

[2019-10-02 14:18] bobzhang commented on #3852
My current proposal is that for a module with all module aliases, we still record the deps in the build system, but consider this module itself pure

[2019-10-02 14:20] bobzhang opened #3861 "buckle 6.2.0 not record module alias deps"
For 6.2.0
[code]
The global seems not recorded

[2019-10-02 14:35] TheSpyder commented on #3852
OK, so the behaviour before was more of an accident. Got it.

Technically the module can't be proven pure, even if it's just aliases, but to be honest this is the [same shortcut used by my company with rollup](https://github.com/ephox/swag/blob/master/src/main/ts/ast/Remap.ts#L53). We have entry point modules that just import other modules, and this chunk of code inlines those to aid in tree shaki

[2019-10-02 19:10] andywhite37 commented on #3858
@bobzhang - cool, thanks for your feedback.  Let me think a little on how this could be setup in terms of actual logistics.  If anyone has ideas/feedback, it would be appreciated.

[2019-10-02 19:17] andywhite37 commented on #3852
@bobzhang - that seems reasonable if you think it can be done.

Since module purity is kind of at the root of this problem - what is it that makes the compiler think that `Belt.Map` is pure?  I see that you are not using module functors, but how does it know that all of your function applications are pure?

Is there a list of things you must conform to in order to pass the purity check?

E.g.

For

[2019-10-03 09:18] Coobaha commented on #3521
Any plans on this @bobzhang?

I've also noticed that if you are building multiple apps that are sharing same symlinked package bs will warn that about package name duplicates and that first one was picked.

[2019-10-03 09:59] imbsky opened #3862 "Question: About the latest version of bs-platform"
BuckleScript 6.2.0 has been released, but the latest version is still 5.0.6. Is this intentionally?
If it's not intended, commands such as `yarn upgrade-interactive --latest` will not be able to upgrade to the latest BuckleScript, so we should be fix it. (It's the same for Dependabot too.)

![Screenshot](https://user-images.githubusercontent.com/38746192/66116723-3256f100-e60e-11e9-8582-6e55656d38

[2019-10-04 09:07] swuecho commented on #3858
github action is free for open source application.  should be enough for CI?

[2019-10-04 19:12] bsansouci opened #3863 "Getting warning "Unused attribute bs" on react component prop"
Here's the example I have
[code]

Here's a screenshot of the error in vscode (for the location see the yellow underline, but I also see the warning in my terminal).
<img width="661" alt="Screen Shot 2019-10-04 at 12 09 47" src="https://user-images.githubusercontent.com/4534692/66233381-13a13a80-e6a0-11e9-95f5-1d7e9a6acf53.png">

For context, I need the prop to be a un-curried function because it i

[2019-10-04 19:16] bsansouci opened #3864 "Side-effectful import"
Would it be possible to support having this JS generated:
[code]

This is a common pattern in JS-land where one relies on Webpack to tree-shake the css.

[2019-10-05 01:41] bobzhang commented on #3862
This is intentional since I am on vacation this week in case of some emergency. Will mark 5.2.0 as latest next week

[2019-10-05 02:54] imbsky commented on #3862
I get it! Enjoy your vacation!

[2019-10-05 02:54] #3862 closed

[2019-10-05 02:56] imbsky commented on #3862
Just out of curiosity, what's the difference between 6.2.0 and 5.2.0? I'm still a little confused.

[2019-10-05 06:53] cristianoc commented on #3862
@imbsky 5.2.0 is for OCaml 4.02, the old one everyone uses, while 6.2.0 is for OCaml 4.06, the new one we’re gradually moving to.

[2019-10-05 07:19] imbsky commented on #3862
Oh, Now I understand. Thank you for your explanation!

[2019-10-07 12:40] jan-lindemann opened #3865 "Cannot use module with `let return` in Functor application"
After upgrading to `bs-platform` version 5.2.0, passing a module with a `let return = ...` to a Functor doesn't work anymore when the application is written in another module.

An example is available here: https://github.com/jan-lindemann/bucklescript-modules-exports

In the example, we have a file `Foo.re` which exports `return` with value `5`. Furthermore, there is the file `Bar.re` containing

[2019-10-07 12:41] giraud commented on #3863
I'm interested, I have the same problem in my app.

[2019-10-09 08:11] Toxaris opened #3867 "Self-referencing namespace randomly works or not"
We are running into random build failures due to accidentally self-referencing namespaces. For example, we have:

- `foo/bsconfig.json` sets `name: foo` and `namespace: true`
- `foo/Bar.re` contains `let bar = 5`
- `foo/Baz.re` contains `let baz = Foo.Bar.test`

We expect that `bsb` always fails on this since it should be `let baz = Foo.Bar.test` instead. Instead, `bsb` seems to randomly fail or n

[2019-10-11 06:33] hhugo commented on #115
We've rewritten the bigarray support for js_of_ocaml in https://github.com/ocsigen/js_of_ocaml/pull/879.

[2019-10-12 02:23] bobzhang commented on #3864
closed per discussion offline by using [%raw "import .."]

[2019-10-12 02:23] #3864 closed

[2019-10-12 02:32] bobzhang commented on #3865
in ES6 module, you can not do `export var return = ...`, to reach a consistency, it seems we should always do the translation to use `$$return`

[2019-10-12 02:36] bobzhang commented on #3863
@bsansouci would you provide an example I can reproduce

[2019-10-12 11:36] Risto-Stevcev opened #3870 "Change underlying rep of optional labelled args to be an object"
Currently optional labelled args end up becoming actual function arguments, even if they aren't used. This leads to really [large bundle sizes](https://gist.github.com/Risto-Stevcev/fb3680a2e676d0e8b684a92723269f93) because it needs to include all of these function arguments as part of the output. Here's the resulting output from the file described in that gist:

The following code snippet:
[code]

[2019-10-14 10:50] bobzhang commented on #3867
Self-referencing namespace is not supported. The thing that it may work is when Bar is already built this looks *okay*, I am unclear if there is a clean solution to make it always fail

[2019-10-14 13:56] bobzhang commented on #3865
fixed in master. @jan-lindemann you can test it
via `npm install https://github.com/BuckleScript/bucklescript`

[2019-10-14 13:56] #3865 closed

[2019-10-14 13:59] bobzhang commented on #3870
@Risto-Stevcev I followed the link but it did not get it, can you be more specific?

[2019-10-14 14:35] cristianoc commented on #3870
Can’t remember is this is done in one of the pending PRs to compile records or variants to objects.

[2019-10-14 17:20] Risto-Stevcev commented on #3870
@bobzhang I updated the description with a more concrete example of the problem

[2019-10-14 17:44] Coobaha commented on #3521
Sorry for bumping this again, but this is very very annoying with mono repo setups :/ will this issue be prioritised at some point?

[2019-10-15 02:22] bobzhang commented on #3521
Note @Coobaha raised several separate issues, watching dependent packages and shared packages

[2019-10-15 02:25] bobzhang commented on #3852
@andywhite37 Belt.Map used a pattern to  delay the functor application to the user side

[2019-10-15 07:23] cknitt opened #3875 "5.2.0: Incorrect code generated for ifs nested in switch"
BuckleScript 5.2.0 generates incorrect code in some circumstances. Consider the following code:

[code]

This should output `"Some x, f returns true"`, and it does in BuckleScript 5.0.4, see the [Reason "Try"-Page](https://reasonml.github.io/en/try?rrjsx=true&reason=DYUwLgBAxg9gtgBwJagE4CECuBzCBeCACgEMAaCAI3KnIDMBKfAPgCgIIBnAdyTCgAsiZSowDebCAB8iAZXghCAIgAei+uQD69CdMIbycuApVrGeVu3ZJaRWoXpiJliACkOAO

[2019-10-15 07:44] bobzhang commented on #3875
@cknitt Thanks for reporting, we have several bug fixes together and will make a bug fix release soon

[2019-10-15 08:43] #3852 closed

[2019-10-15 08:44] bobzhang commented on #3852
@mlms13 can you confirm it is fixed in master? thanks

[2019-10-15 14:48] cknitt commented on #3521
@bobzhang Would you like me to provide an example repo with a monorepo setup as described above?

[2019-10-15 16:07] mlms13 commented on #3852
I'll take a look in just a bit. Thanks for your help on this one!

[2019-10-15 16:18] thislogancall opened #3877 "Pattern matching regression on numbers (at least)"
When switching on numbers (like HTTP status codes), the compiled output is incorrect.

Example:
[code]

Reason playground: https://reasonml.github.io/en/try?rrjsx=true&reason=DYUwLgBAFmYA4CUQGc4HsB2yQGE0BMQIBeCAJgAYBGAbgCg7kB3ASzAGMoIAKGeJVJmx5CASggBvOgB9y1GXIokAfHQgQAUsgB0wNAHNuAIn1oCEAE4p0WEEdH1ZAVgoUFLgMzuKANm8BOd38ADm8qbwAWbwB2dyo3Z39A5woybydvUOcqKhU1TR09QyMAIwBDfEtrITtRBQB9PPUtXQNjMCgidjKOLjL

[2019-10-15 16:50] anmonteiro commented on #3877
Is this also related to #3875?

[2019-10-15 17:37] mlms13 commented on #3877
I think #3875 is a regression with `5.0.2`, but from the comments on Discord, it seems like the issue here is also present in `5.0.3`, `5.0.4`, and `5.0.6`.

[2019-10-16 02:50] bobzhang opened #3880 "Simplify pattern match over option"
The generated code for `string option`, `int option` could be simplified
[code]
[code]

[2019-10-16 02:50] #3875 closed

[2019-10-16 02:51] bobzhang commented on #3875
@cknitt can you confirm if it is fixed in master

[2019-10-16 03:23] #3877 closed

[2019-10-16 06:14] #3880 closed

[2019-10-16 06:51] cknitt commented on #2975
@bobzhang @rickyvetter @chenglou When do you envision the switchover from `Js.X2` to `Js.X` to happen? The current situation is still extremely confusing for newcomers...

I looked through all the submodules of Js, and as far as I understand, the current status is:

Already pipe first / no need for an X2 module:

- Js.Console
- Js.Date
- Js.Dict
- Js.Exn
- Js.Float
- Js.Global
- Js.Int
- Js.Json
-

[2019-10-16 07:09] cknitt commented on #3875
@bobzhang Thanks a lot for the very quick fix! I can confirm that the generated code works correctly on `master`. 🎉

[2019-10-16 08:03] shurygindv commented on #2827
what is the status of this? Is it still in progress? We need such a feature

[2019-10-16 08:31] bobzhang commented on #3861
can not reproduce any more. We should log the exact steps when come into something fishy in the future

[2019-10-16 08:31] #3861 closed

[2019-10-16 15:58] Risto-Stevcev opened #3885 "Adding @bs.as support for <..> Js.t objects"
It works for this style of objects:

[code]
But it doesn't currently work for `<..> Js.t` objects. The ask is to support for something like this:
[code]
The advantage of the `Js.t` syntax is the row polymorphism. My use case is that I need row polymoprhism and the ability to use any kind of string as a key for what I'm currently working on. `Js.Dict` isn't useful in my case because I already know

[2019-10-17 10:58] fhammerschmidt opened #3888 "Belt.Option.forEach not available in published version 5.2.1"
Thank you very much for releasing  5.2.1!

You also wrote that my Belt.Option.forEach is included in this [release](https://github.com/BuckleScript/bucklescript/blob/5.2.1/Changes.md#521-20191016), but it does not seem to be in scope when I want to use it.

It looks like the contents of the jscomp/others/belt_Option.* files did not carry over to lib/ocaml/.

[2019-10-18 06:46] bobzhang commented on #3888
Indeed,  this PR is not merged into 5.2.1, corrected in changes, it will go into next release

[2019-10-18 06:46] #3888 closed

[2019-10-18 08:20] bobzhang commented on #3885
Actually it is due to row polymorphism that we can not support bs.as.
When user call `x##ariaLabel` without declaring types, how is `ariaLabel` supposed to be mangled?

[2019-10-18 10:01] Risto-Stevcev commented on #3885
I'm not sure I understand what you mean by the types not being declared, can you give an example? The compiler knows that the object has to have those properties right? otherwise it won't compile. It's that object shape plus some unknowns:

[code]

[2019-10-18 12:14] glennsl commented on #3885
But the fact that it's structural, and inferred, is a problem.

For example, is

[code]

a subtype of

[code]

?

How do you unify the use of `x##ariaLabel` with `'a data`?

[2019-10-18 12:26] cristianoc commented on #3885
Once records are compiled to objects, we can revisit a number of choices. The fact that records have a unique type definition makes them fully compatible with annotations. (While dynamic type inference easily forgets annotations, which are not really part of the language, but an add-on).

[2019-10-18 12:35] Risto-Stevcev commented on #3885
Ah I see the problem. What about making the annotation required for all supertypes as well? ie:

[code]
is not a subtype of
[code]
but is a subtype of
[code]

[2019-10-18 13:02] glennsl commented on #3885
But `o##ariaLabel` will be inferred as `< ariaLabel: 'a .. > Js.t`, without any annotation. It won't unify with an annotated type unless you annotate usage too.

[2019-10-18 13:32] gabriel-bezerra commented on #3867
I think it is a better default. I guess it should depend on what is set to `namespace` option in `bsconfig.json`, right?

Wouldn't it be a clean solution to make it fail?

[2019-10-18 20:49] Risto-Stevcev commented on #3885
Yeah, I wouldn't mind that limitation to be honest. Being able to have both string keys and polymorphism at the same time is really useful for information processing. Maybe there might be some other technique that could be used to get better results but I can't think of anything

[2019-10-21 02:48] gaku-sei opened #3891 ""Chaining" use of `[@bs.string]` and polymorphic variants in React components"
Tested using BuckleScript 5.0.6 and 5.2.1.

I'm not 100% sure this is related to React components only or not.

When declaring two components using the same polymorphic variants (and using the [@bs.string] annotation), I ran into several issues:

### 1. Incorrect bindings

[code]

Will generate (among other code) something like this:

[code]

Meaning the `switch` statement is wrong here, since `Pr

[2019-10-21 03:04] bobzhang commented on #3885
It is actionable that if `< [@bs.as "aria-label"] ariaLabel : string>` is just a way of writing `< "aria-label" : string>` to work around the syntax limitations. So you have to write `x##"aria-label"` to consume it.
What do you think of the proposal, if this is what you want, could not it be easily adapted on reason syntax to support it natively?

[2019-10-21 03:20] bobzhang commented on #3891
[code]
[code]
You are expected to get a warning `Unused BuckleScript attribute`, note bs.string only works with externals, bs.string in Y seems to be reduandant
cc @rickyvetter

[2019-10-21 03:32] gaku-sei commented on #3891
Thank you very much @bobzhang. Notice that I don't get any warning when running `bsb -clean-world -make-world` with the code above (BuckleScript 5.2.1). But I do get this warning with "normal" functions.

Also, I still get the 103 warning when dropping the `@bs.string` annotation (which is useless, as you mentioned it) from the `Y` component.

Could it be related to the `@react.component` annotati

[2019-10-21 03:37] andywhite37 commented on #3852
I installed 5.2.1, and our `Relude.re` module, which contains only module aliases, now says `/* No side effect */` at the bottom of the `Relude.bs.js` file, so I think that means the fix is working, right?  A module containing only module aliases is now considered pure.

[2019-10-21 12:07] Risto-Stevcev commented on #3885
Yes! I think that's even better because then you can pass any string as the accessor as well, which makes things as flexible as javascript. Sometimes it's useful to be able to pass in a validated string from a dynamic context :slightly_smiling_face:

[2019-10-22 05:26] bobzhang commented on #3885
@Risto-Stevcev if that is the case, can you make a feature request in facebook/reason

[2019-10-22 07:10] Toxaris commented on #3867
Yes we would prefer that depending on module  `Foo` in a project with namespace `foo` directly fails.

[2019-10-22 08:27] bobzhang opened #3897 "better compilation of `include M`"
[code]
[code]
We should have known that all fields of  `U`, ideally we should compile it as an identity function

[2019-10-22 11:32] Risto-Stevcev commented on #3885
Would this only be reason-specific syntax and not bucklescript?

[2019-10-23 11:27] bobzhang opened #3902 "$$Array seems not be accessible in vscode debugger"

[2019-10-24 03:22] bobzhang commented on #3902
This seems to be a v8 specific issue

[2019-10-24 03:22] #3902 closed

[2019-10-24 04:18] cristianoc opened #3904 "Test `jscomp/test/int64_test.js` fails on node `12.12.0`."
This fails:
[code]

This succeeds:
[code]

@bsansouci this is the test we saw mysteriously fail on my machine at Reason Conf.

[2019-10-24 04:21] cristianoc commented on #3904
Version `12.11.0` seems the first where the failure happens.

[2019-10-25 03:36] #3904 closed

[2019-10-25 18:45] patricoferris commented on #3838
A potential solution to this problem is wrapping each of the objects in the variant in a `<span>` with a margin to the right. I tested this locally but I'm fairly new to (1) Reason and (2) Chrome Custom Formatters so I'm unsure if this is breaking something elsewhere.

[code]

Here is an attached image of the resulting format.

<img width="231" alt="Screenshot 2019-10-25 at 19 38 02" src="https://

[2019-10-26 17:35] putrasurya opened #3909 "can we have any:type when binding some module? [maybe a feature?]"
let say if we want to import css file and use its classnames, we can write it like this:

`module Styles = {
  [@bs.module "./styles.css"] external myContainerClassName: string = "";
};`

and use it in the component like `<Foo className=Styles.someclass />`

but you know, what if we have large css file, defining its class name 1 by 1 looks painful, is there any way we can write like this?

`module

[2019-10-27 11:42] gaku-sei commented on #3909
It seems that you don't really care about type safety here, so this could do the trick:

[code]

The `styles` value defined above can be used this way:

[code]

It will compile to something like the following:

[code]

You can also define the `external` styles variable in a module if necessary.

Hope it helps 👍

[2019-10-28 01:11] bobzhang commented on #3909
Hi, @putrasurya There are various escape hatches, including `raw` which allows you to include short js expression and `Obj.magic` which allows you to work around type checker.

[2019-10-28 01:11] #3909 closed

[2019-10-28 02:06] bobzhang commented on #3838
@patricoferris this looks good to me, would you send a PR?  Thanks

[2019-10-28 06:38] DCKT commented on #2827
Hello,

Is this issue resolvable ? This would help a lot to make 0 cost bindings for React components libraries !
I don't know if I can help for this kind of issues :)

Thanks for your works

[2019-10-28 08:09] bobzhang commented on #3885
@Risto-Stevcev Yes based on my understanding

[2019-10-28 14:30] Risto-Stevcev commented on #3885
Ah ok, I haven't been using reason so this wouldn't really help -- I liked v2 syntax better, the semicolons and brackets everywhere add a lot of syntactic noise. I actually avoid both when writing ES6 (semicolon insertion and fat arrows) so I'm not used to all the noise, and I don't like the local open syntax. Why isn't it possible in plain ocaml? I thought you could have infix functions that are

[2019-10-30 07:14] ryyppy opened #3914 "Preparations for the BuckleScript v7 transition"
This issue is used to keep track of important tasks to make BuckleScript v7 (OCaml 4.06 based version) the default package on npm.

## Transition Philosophy

As soon as BS@6 is live, every user should be able to just use our migration guides to upgrade their existing BS@5 based projects to the newest versions. For the most important tools, there should be an equivalent release for handling 4.06 ba

[2019-10-30 07:29] putrasurya commented on #1124
i want to use create-react-app alongside with reasonreact without ejecting react-scripts, i know we can use in-source: true and code .re in /src folder, but it'll be a mess,

i think the solution must somehow at configuration in bsconfig, change compile result of "es6" to folder /src instead /lib/es6

how i can achieve this?
thank you

[2019-10-31 06:44] swuecho commented on #3914
PPX Upgrade tasks
- [ ] [bs-deriving](https://github.com/ELLIOTTCABLE/bs-deriving)

[2019-10-31 18:13] perottilds commented on #1124
@putrasurya
https://bucklescript.github.io/docs/en/build-configuration#package-specs

"The output directory is not configurable otherwise."

However, you can have a post compilation script move your files.
https://bucklescript.github.io/docs/en/build-configuration#js-post-build

I don't think that's close to a sane decision.

[2019-11-01 20:21] sgny commented on #2827
`style` prop in React Native components take a single `Style.t` object or an array (or list) of them. Until now, we used to cast `array(Style.t)` as `Style.t`, but we have some interest in differentiating between them. There are a few possible approaches, so you may follow the [issue](https://github.com/reason-react-native/reason-react-native/pull/622).

The closest to `@bs.unwrap` is to use `@bs.

[2019-11-02 01:59] bobzhang opened #3919 "Dynamic import support"
[code]
Todo:
- Have a way to delay the generated requires for List
- See if we can mitigate the runtime cost
- Check to see how to ensure invariants enforced by bootload, e.g, it can only load a global module?

[2019-11-02 02:13] yawaramin commented on #3919
Is this regarding #2765 ?

[2019-11-02 02:29] bobzhang commented on #3919
@yawaramin yes, except the proposal here is more type safe?

[2019-11-02 03:54] yawaramin commented on #3919
@bobzhang your approach here made me think about this a bit more and now I think we can do dynamic imports with just `bs.val` and `bs.as` (treating `import` as just a normal function), here's an example:

[code]

This generates:

[code]

[2019-11-04 07:58] bobzhang opened #3922 "Check ocaml object self dispatch does not break the record invariant"
notably
[code]

[2019-11-05 07:34] bobzhang commented on #3922
[code]
It seems ocaml object is never an ocaml record

[2019-11-05 07:34] #3922 closed

[2019-11-05 07:58] cristianoc commented on #3922
That was my impression too. Glad that you've checked it properly.

[2019-11-05 19:43] wokalski opened #3931 "Recursive module field resolving order"
Not so minimal repro (but still small):
https://github.com/wokalski/bucklescript-recursive-modules-bug

Running `node ./src/Test.bs.js` throws

[code]

I have roughly inspected the compiled output and I found multiple issues there. You'll quickly spot the problems, too.

Note; I think there's also a bug with the namespace. It's defined as `Ocaml_protoc_plugin` in the dependency's (`ocaml-protoc-pl

[2019-11-05 20:41] wokalski commented on #3931
I just tried downgrading to 6.1.x, unfortunately there's a different issue there, but the result is the same; another runtime error.

[2019-11-06 01:29] bobzhang commented on #3931
Which version did you find this issue

[2019-11-06 04:46] gaku-sei commented on #3914
@ryb73 has updated their ppx to support (only) BuckleScript 6.x: https://github.com/ryb73/ppx_decco/commit/2d68883a8a8901f4e5f9c5d65626d9a028efa700

Also `graphql_ppx` being (unofficially) deprecated, we can probably list only `graphql_ppx_re` (which already supports BuckleScript 5.x and 6.x).

[2019-11-06 05:23] cristianoc commented on #3914
@gaku-sei I have update the description on top.

[2019-11-06 06:03] wokalski commented on #3931
6.2.1, 6.1.0, 6.2.2-flambeau-array - I tested all three

[2019-11-06 09:15] bobzhang commented on #3931
It has some 3rd party deps, would you shed some light so it would save me some time? thanks

[2019-11-06 09:45] ulrikstrid opened #3933 "Current satus of esy integration"
I just wanted to open a issue detailing the current status of esy integration as I feel like I need a break from it. If anyone wants to pick this up feel free to write here or ping DM/ping me on Discord.

- [ ] Develop from a clean clone with just `esy`
  - [x] #3918
  - [ ] bucklescript/ocaml#38 should be enough
- [ ] Read sources from esy store #3860, this just needs a cleanup I think
- [ ] Out

[2019-11-06 10:06] wokalski commented on #3931
I can remove the dependency tomorrow. the file Nars_struct.ml is compiled incorrectly. The dependency is irrelevant - it’s not even called by the problematic module by time the exception is thrown.

Nars_struct is generated by ocaml-protoc-plugin. It generates a recursive module. The functions are generated correctly in Nars_struct.bs.js but Caml_module.update_mod doesn’t resolve/update the module

[2019-11-06 11:18] wokalski commented on #3931
I hoped it was a trivial bug, but it's not. I've found the issue.

The generated code looks like this ([link to source](https://github.com/wokalski/bucklescript-recursive-modules-bug/blob/master/src/nars_struct.ml#L55-L59)):

[code]

The generated code for `spec` is defined as so ([link to source](https://github.com/wokalski/bucklescript-recursive-modules-bug/blob/master/src/nars_struct.bs.js#L152

[2019-11-06 11:24] wokalski commented on #3931
Here's a minimal repro:

[code]

[code]

[2019-11-06 14:06] yawaramin commented on #2922
Looks like fixed in #3932

[2019-11-07 03:08] bobzhang opened #3934 "remove BsLocalModule -- the debugger support for local module"

[2019-11-07 03:30] bobzhang commented on #3931
The semantics here is arguable, actually this is kind of abusing recursive modules, we will see if we can have a clean solution. Below also raise:

[code]

[2019-11-07 03:32] bobzhang commented on #3931
The point of recursive module is that don't do eager evaluation, otherwise there may be or may be not runtime exceptions.

[2019-11-07 03:42] bobzhang commented on #3931
can you confirm it is fixed in #3935 ? Note in master branch we compiled records into objects which may disrupt your code when testing, but such test is greatly appreciated

[2019-11-07 03:56] bobzhang commented on #3931
I suggest the codegen be more conservative when using recursive module, here is another example that it raises in native:

[code]

[2019-11-07 05:10] sikanhe opened #3938 "lhibjlcthlbtvr"
Issues are for bugs. If you have questions, ask them on a [community forum][forum] or [chat][chat]. Folks are friendly and happy to help!

[forum]: https://reasonml.chat
[chat]: https://discord.gg/reasonml

For bug reports, in general, it is recommended to report potential bugs in **OCaml syntax**, this will help reduce the possible bug causes from Reason side.

Please have a look at checklist bef

[2019-11-07 05:10] #3938 closed

[2019-11-07 08:10] #3934 closed

[2019-11-07 08:44] wokalski commented on #3931
Thanks for fixing this @bobzhang. I will contact the library authors about this 👍

[2019-11-07 08:47] wokalski opened #3940 "Underscores are not included in namespace name"
BuckleScript version: 6.2.1

bsconfig:
[code]

The resulting namespace is `Foobar` and not `Foo_bar`. If there are some technical issues preventing from including the underscores, I'd expect an error from bucklescript that the namespace name contains unsupported characters.

[2019-11-07 10:59] wokalski commented on #3931
This unfortunately doesn't work with bucklescript but does with native:

[code]

I know you don't like this coding style, recursive modules are generally confusing but it'd be great to have the compiler work the same for bs and native.

[2019-11-07 11:04] wokalski commented on #3931
And this is more representative of the real-world issue that I'm encountering:

[code]

[2019-11-07 13:34] bobzhang commented on #3931
@wokalski We will try our best to preserve the same semantics, but it is hard to explain why my example raise while your example does not raise? So what's the rule here

[2019-11-07 13:39] wokalski commented on #3931
Because the let binding in your example is a structure item and in my example it's a subexpression in a structure item and they seem to be resolved lazily.

[2019-11-07 14:54] wokalski commented on #3931
And thank you @bobzhang. It goes without saying that you're doing an amazing job. Even though the fix yesterday didn't fix the bug I had in the end, I am astounded by the pace of changes. I'd say keep it up, but maybe you're moving too fast 😄.

Oh, and I tried objects as records. I really like the change.

[2019-11-07 19:14] EnriqueVidal opened #3942 "jsConverter not turning polymorphic variants to string"
So I'm trying to write bindings for an npm library to reasonml and this is my current dilemma, in bucklescript 5.0.4 and 5.06 defining  a type like this:

[code]

Then using it as:

[code]

This compiles fine and let's me write:

[code]

However when building 5.2.1 produces a `/* red */123456` whilst 5.0.6 and 5.0.4 produce a string `"red"`.

[2019-11-07 19:50] andywhite37 commented on #3858
I'm going to close this for now, and see about doing this from a smaller scale initially.  If the ideas work out, maybe we can make it a larger-scale effort.

[2019-11-07 19:50] #3858 closed

[2019-11-08 00:48] EnriqueVidal commented on #3942
I realize I am an idiot that was looking at the `.bs.js` but didn't actually rendered the thing, once rendered the prop shows the right string value.

[2019-11-08 00:48] #3942 closed

[2019-11-08 21:02] Risto-Stevcev opened #3946 "Adding a ppx for traversing homogenous objects"
Something like this:

[code]

If the object isn't homogenous (values aren't all the same type in the key/value pairs) then it would produce a compile time error. Ideally it could include the common three since it's homegenous: `map`/`filter`/`reduce`

[2019-11-08 21:06] Risto-Stevcev opened #3947 "Plans for the standard library"
What are the plans for the standard library? I had these suggestions/questions in particular:

- Completing existing libraries for `Node`, ie: `Fs`, `Buffer`, `Process`, `Child_process`, and `Path`
- Adding the [other native node modules](https://nodejs.org/dist/latest-v12.x/docs/api/)
- Adding the [browser web apis](https://developer.mozilla.org/en-US/docs/Web/API). I know about [bs-webapi-incuba

[2019-11-08 21:17] alexfedoseev commented on #3914
- [ ] [`bs-log`](https://github.com/MinimaHQ/bs-log/issues/10)

[2019-11-09 02:58] cristianoc commented on #3914
Thanks @alexfedoseev , added.

[2019-11-09 18:44] ambientlight opened #3949 "Recursive class types support for Js-class bindings"
it doesn't seem possible to attach [@bs] to recursive class types

[code]

_container class type is not recognized as [@bs] above and I cannot decorate it with [@bs] in any way. is this just not yet available on buckle script side?

[2019-11-10 20:12] yawaramin opened #3951 "Pipe-first not working with polymorphic variant"
With the following example code:

[code]

I get the error:

[code]

However with the desugared version:

[code]

Compilation is successful.

[2019-11-10 22:02] #3838 closed

[2019-11-10 22:46] vknez commented on #1436
I am experiencing similar challenges, and @MoOx's suggestions would help.

I have a TypeScript + ReasonML React Native app that is compiled for 3 platforms: iOS, Android, and web. Quite often I need to make a distinction whether I'm requiring a component on web or native, and before introducing ReasonML I had the following approach (pretty common in React Native):

I create two platform-specific f

[2019-11-12 05:21] bobzhang commented on #3949
@ambientlight this might be a bug in reason, can you write this in vanilla ocaml?
cc @anmonteiro

[2019-11-12 05:23] anmonteiro commented on #3949
Don't you have to write the `[@bs]` annotation on the `and` too?

[code]

[2019-11-12 06:31] ambientlight commented on #3949
@anmonteiro, @bobzhang: thanks for support, syntax is a bit confusing, worked in the end.
Doing in it in vanilla ocaml and then running refmt to output in reason produced a valid syntax which is exactly:

[code]

setters will correctly generate in this case and everything fine. thanks!

[2019-11-12 06:31] #3949 closed

[2019-11-12 11:07] ryyppy commented on #3947
@Risto-Stevcev IMO they should completely remove the `Node`, `Child_process` etc. apis from bucklescript and do the opposite: Put everything in properly curated packages.

In flowtype, the React bindings were included in the flow repo, which made it incredibly hard to fix version problems, since there was only one version that was supported. It caused immense vendoring problems - Irregular release

[2019-11-12 11:49] Coobaha commented on #3914
- [ ]  [reasoml-idea-plugin](https://github.com/reasonml-editor/reasonml-idea-plugin)

[2019-11-12 14:12] cristianoc commented on #3914
@Coobaha thank -- added above.
Btw would you know how extensive the plugin is? Asking as it might be more complex than a little PPX.

[2019-11-12 14:15] Coobaha commented on #3914
Cc @giraud

[2019-11-12 17:58] aaronshaf commented on #2772
This would be great for deploying to environments like zeit/now

[2019-11-13 11:31] giraud commented on #3914
@cristianoc plugin is ready since v0.76 (although I found there is a small update to release to adapt it to bs-6.2.1)

[2019-11-13 11:48] cristianoc commented on #3914
@giraud great thanks. Once a version compatible with bs 6.2.x is available, I'll update the description on top.

[2019-11-13 12:08] ryyppy opened #3952 "BS6: Alias Belt.Result.t to builtin result"
OCaml 4.03 introduced the `result` type, which has the [same shape](https://github.com/BuckleScript/bucklescript/blob/master/jscomp/others/belt_Result.mli#L45) as `Belt.Result.t`:

[code]

I have an existing codebase which uses `Belt.Result.t` types to handle the results of a little parser program.

Now there are currently two issues:
- I can't use `Ok` from the OCaml pervasives and have to handle

[2019-11-13 12:09] cristianoc commented on #3952
This should do:

[code]

[2019-11-13 12:22] glennsl commented on #3952
It might be a good idea to keep the definition when aliasing so usages like`Belt.Result.Ok` won't cause breakage:

[code]

[2019-11-13 15:54] ryyppy commented on #3952
I am trying to make it build with the type alias, but it's challenging to get the type system to build:

[code]

I see that there is a `-no-pervasive` flag, so it doesn't have access to the `result` type... what files do I need to touch so that Belt can see the type? @bobzhang

[2019-11-13 23:59] TheSpyder commented on #3947
I agree wholeheartedly these things should be separate from the platform, but it would be nice if the things @Risto-Stevcev were created as (or moved to become) official projects.

For example, it's not clear what is required for `bs-webapi` to graduate from the incubator stage; there's no plan, no apparent changes in progress other than merging PRs.

[2019-11-14 00:27] TheSpyder opened #3953 "Compile unit as undefined instead of zero"
I've noticed BuckleScript has started optimising `option` functions explicitly returning `None` to output `return ;`. I'm wondering what it would take for `unit` to do the same.

I realise that conflating `()` and `None` at runtime could have disastrous consequences, but how often is the value returned from a `unit` function checked at runtime? I would hope it's not much.

### Backstory
I'm bindin

[2019-11-14 09:37] glennsl commented on #3947
For `bs-webapi` I think @chenglou's plan has been to move individual APIs into `bs-platform` when they're  mature enough, i.e. unlikely to change much. APIs like `Js.Global`, `Dom.Storage` and the `Dom` types have been moved out of `bs-webapi` and into `bs-platform` for this reason.

I think `Js.Global` belongs in `bs-platform` because it's part of the JavaScript platform. It's also very convenien

[2019-11-14 18:08] thangngoc89 commented on #3857
What is this issue about? Could you provide more details?

[2019-11-14 18:42] bobzhang commented on #3952
@ryyppy stdlib depends on belt (instead of the other way), can you try to alias result type in pervasives.ml(i)?
 Note the scary message is that in debug mode, we don't catch exception so a good stacktrace for troubleshooting

[2019-11-14 18:50] bobzhang commented on #3953
If we make this change, make sure the comparison between `Some ()`, `None` is correct

[2019-11-14 18:54] bobzhang commented on #3953
Another thing which may benefit is that for functions which has optional labels
[code]
when compiled into js, the last argument can be saved (or more) when compiling into js
[code]
can be simplified
[code]

1.

[2019-11-14 19:31] osener commented on #3914
bs-deriving works with BuckleScript v6 (tested with version "44.1.0")

[2019-11-14 19:58] cristianoc commented on #3914
@osener thanks for the uppdate.

For `reason-macros` see `ocaml-migrate-parsetree` in https://github.com/jaredly/reason-macros/blob/master/src/dune#L5.

[2019-11-14 20:02] osener commented on #3914
Ah thanks. I had forward-compatibility in mind when I wrote that, but of course OCaml 4.06 AST is nothing new.

[2019-11-14 21:19] TheSpyder commented on #3953
Oh that'd be great too!

I think the code size benefit might outweigh any performance costs - but I'm not sure there are actually any performance penalties for leaving arguments out rather than passing explicit `undefined`. I haven't done much research in this area, but I was under the impression a monomorphic return value was the big factor in JS function optimisation.

[2019-11-14 23:01] bobzhang commented on #3857
@thangngoc89 this website is not upgraded for a while: https://bucklescript.github.io/bucklescript-playground/

[2019-11-15 01:56] thangngoc89 commented on #3857
are you ok with me sending a PR upstream changes I've made in nit's playground to bucklescript?

Changes include:
- add refmt_api so playground can support reason syntax out of the box
- support 4.06
- clean up the build process

I can make it several PRs if that's what you prefered

[2019-11-15 01:58] thangngoc89 commented on #3806
Done in #3945

You can ping me directly next time if you'd like to upstream refmt

[2019-11-15 19:39] #3952 closed

[2019-11-15 21:47] bobzhang commented on #3806
@thangngoc89 thanks, that's really nice!

[2019-11-15 21:47] #3806 closed

[2019-11-15 21:50] bobzhang commented on #3857
@thangngoc89 Yeah, that would be nice.
About changes, small diffs are always preferred, thank you in advance

[2019-11-16 00:57] bobzhang opened #3957 "Improve the experience(error message) for first installation"
Since I happen to have a new laptop to setup.
Let me record all frustrations I experienced.

running ../scripts/ninja.js cleanbuild

Got an error message
[code]

[2019-11-16 05:14] #3957 closed

[2019-11-16 06:31] bobzhang opened #3961 "Use is_a_functor from upstream instead of guessing"
Note most job comes from calling Lam.function_ which is used everywhere

[2019-11-16 17:56] cristianoc opened #3962 "Set environment variable `BSB_PROJECT_ROOT`."
This is needed by genType when it's called on a sub-project started from a root project.
Otherwise, genType has no way to find `.sourcedirs.json` which is generated for the root project only.

@bobzhang as discusssed.

[2019-11-17 03:53] #3962 closed

[2019-11-18 00:19] #3897 closed

[2019-11-18 03:09] bobzhang opened #3967 "dummy recursive values for record is {} instead of []"
Note it will still work, but lets get it right in the first place

[2019-11-18 08:08] cknitt opened #3969 "7.0.0-dev.1: Unbound type constructor method"
[code]

gives

[code]

And

[code]

gives

[code]

[2019-11-18 08:40] gaku-sei commented on #3969
Renaming `method` (or `method_`) `met` would fix this issue.

It feels like there are some "hidden" reserved keywords that shouldn't be used for type name (I remember facing some weird issues after calling one of my type `option`);

`method` should probably be added to the banned reserved keyword in order to display a nicer error message 😕

[2019-11-18 09:13] cknitt commented on #3969
To clarify: The issue is that

1. the above code used to work in previous BuckleScript versions and
2. `method_` (which is *not* a reserved keyword) does not work either

[2019-11-18 09:22] cknitt commented on #3969
BTW,

[code]

*does* compile.

[2019-11-18 10:36] longlongh4 opened #3970 "A bug when insert string into an empty list"
run `  Js.log ("1" :: []);` you will get `[ '1', 0 ]`
![image](https://user-images.githubusercontent.com/778549/69045666-45911500-0a32-11ea-8dd1-f59fa0738aa1.png)

[2019-11-18 11:53] longlongh4 commented on #3970
Sorry about that, I should not inspect into JavaScript directly, I wrote two functions to view the array from Ocaml, the result is good.

Thanks.

![image](https://user-images.githubusercontent.com/778549/69050314-ba694c80-0a3c-11ea-86e2-590db83ba2fe.png)

[2019-11-18 11:53] #3970 closed

[2019-11-18 17:29] bobzhang commented on #3969
This might be a regression from refmt, I will report upstream

[2019-11-18 17:34] cristianoc commented on #3969
type punning is new in latest rfmt, I think

[2019-11-18 19:43] anmonteiro commented on #3969
Not sure if this is a regression in refmt or not, but I think this 7-month old PR is intended to fix it: https://github.com/facebook/reason/pull/2380

[2019-11-18 19:47] anmonteiro commented on #3969
this is probably what caused it: https://github.com/facebook/reason/pull/2342/files

[2019-11-18 22:11] bobzhang commented on #3969
cc @thangngoc89 are we upgrading to the latest refmt? thanks

[2019-11-19 00:49] thangngoc89 commented on #3969
@bobzhang yes. Refmt is the latest from master branch

[2019-11-19 01:03] #3967 closed

[2019-11-19 05:18] thislogancall opened #3975 "7.0.0-dev.1: Fatal error: exception Cmi_format.Error(_)"
I have a package that I was just testing out the new 7.0.0-dev.1 branch on. When I run `bsb -make-world` I get the following error for each file:

`Fatal error: exception Cmi_format.Error(_)`

What's interesting is that genType files are also not created. I'm guessing genType just doesn't support 7.0.0-dev.1 yet, but wanted to document it here in case it's not a known issue.

I did change a file t

[2019-11-19 05:36] cristianoc commented on #3975
@thislogancall try clean and build.
For genType: https://github.com/cristianoc/genType#requirements.

[2019-11-19 08:19] cknitt commented on #3969
@bobzhang FYI there is another regression in refmt master that I reported in the Reason repo yesterday: https://github.com/facebook/reason/issues/2493.

[2019-11-19 15:08] thislogancall commented on #3975
Thanks @cristianoc I forgot to update genType as well.

[2019-11-19 15:08] #3975 closed

[2019-11-19 16:10] huy-nguyen commented on #3276
Is there anything a newcomer like  me can do to help this gain some traction? Where should I look to get started?

[2019-11-20 21:37] agarwal commented on #3940
Also, if we want to write code that depends on "foo-bar-x" and itself is compatible with both BuckleScript and OCaml, then we have to pick either `FooBar` or `Foo_bar`. Either is fine (since `dune` supports both), but since `Foo_bar` is more common in OCaml it would be nice to support it. Then we could have the option of following either convention.

[2019-11-20 23:44] bobzhang opened #3979 "record renaming support"
[code]

Design question, if we do this in very early stage, then we can not write `{x = 3}`
If  we delay this until code generation, how can we guarantee that it is consistent between ml and mli -- seems more check need there

[2019-11-20 23:59] chenglou opened #3980 "object literal syntax needs a paren when printing as js"
[code]

In the new compiler version, this generates a JS syntax error.

[code]

[2019-11-21 10:14] ryyppy commented on #3914
`let_anything` is now `bs-let` and is advertised as an experimental ppx. Thanks to @mrmurphy for relocating the repo to a shared organisation!

[2019-11-22 10:17] ryyppy commented on #3914
`decco` has been moved to @reasonml-labs to share responsibility: https://github.com/reasonml-labs/decco

[2019-11-23 10:36] bloodyowl commented on #3919
@bobzhang has there been progress on this? that'd be crucial for overall performance

[2019-11-23 19:17] #3979 closed

[2019-11-25 13:09] pewniak747 opened #3987 "Cannot pass uncurried functions as component props in BS6"
Affected bs-platform versions: `6.2.1`, `7.0.0-dev.1`
Affected reason-react versions: `0.7.0`
Unaffected bs-platform versions: `5.2.1`

**AS IS**

The following code, a react component which accepts an uncurried function as a prop, does not compile:

[code]

Compilation error:

[code]

**TO BE:**

Should be able to pass an uncurried function as a prop to a react component _OR_ if it's impossible,

[2019-11-25 21:29] bobzhang commented on #3987
reported upstream https://github.com/facebook/reason/issues/2499

[2019-11-25 21:35] IwanKaramazow opened #3988 "Don't run pp-flags on Reason files"
**Example**: https://github.com/IwanKaramazow/pp-demo-1
**bs-plaform version**: 5.2.1 and above
**steps to reproduce**
[code]
`pp-flags` from `bsconfig.json` is run on Reason files. This wasn't the case in bsb 4.
Pp-flags shouldn't be run on Reason files as refmt outputs a binary format.

[2019-11-25 22:15] bobzhang commented on #3987
cc @rickyvetter

[2019-11-25 22:18] bobzhang opened #3989 "check label uniquess in record"

[2019-11-25 22:33] sync opened #3990 "Pattern matching inside a record with a null object does have a different behaviour in bs-platform 7 (crash) vs bs-platform 6.2.1 (returns undefined)"
Affected bs-platform versions: 7.0.0-dev.1
Unaffected bs-platform versions: 6.2.1

[code]

If you run this snippet using bsb 6.2.1: `documentName:  undefined`
If you run this snippet using bsb 7.0.0-dev.1:

[code]

I understand that it would be more correct to do this instead for this sample, but code was simplified:

[code]

Issue is that this crashing code used to work previously so it seems lik

[2019-11-25 22:52] #3980 closed

[2019-11-26 01:31] bobzhang commented on #3990
Hmm, the raw code is incorrect, it has to be `{object_ : undefined}`, when changing data representation, the raw code needs to be carefully reviewed

[2019-11-26 01:48] sync commented on #3990
from this demo code i understand, and in the actual codebase those objects are coming from graphql and end up as null from upstream etc... and it's much hard to track down null values etc...

[2019-11-26 05:34] bobzhang commented on #3990
@sync your example is valid, can you provide more input so that I can have a look

[2019-11-26 09:24] ryyppy commented on #3857
Since #3976 was merged, following playground features are now in:
- Support Reason syntax out of the box
- Add 4.06 support

Here is a list of major tasks we need to tackle next:

## External lib loading
- [ ]  Make the external lib loading work w/ 4.06 (ReasonReact)
- [ ]  Improve the lib loading process by being able to point to different require paths (different React versions etc)

## Playgrou

[2019-11-27 06:54] sync commented on #3990
will do this now thank you 👍

[2019-11-27 18:01] #3989 closed

[2019-11-27 22:51] bobzhang commented on #3988
@IwanKaramazow can you confirm it is fixed in #3994

[2019-11-28 05:35] IwanKaramazow commented on #3988
@bobzhang confirmed #3994 fixes the problem

[2019-11-28 08:11] cknitt opened #3996 "7.0.0-dev.2: too strict in duplicate label detection"
[code]

gives the error

[code]

which is not correct.

(I know, the `bs.as` attribute is superfluous here, but this situation can occur easily in generated code. I saw it in the MaterialUI bindings.)

[2019-12-02 03:35] #3988 closed

[2019-12-02 05:25] #3996 closed

[2019-12-02 23:03] MargaretKrutikova opened #4000 "Missing minimal reason-react template"
The new react-hooks template, while providing a lot of good learning material, is unfortunately too overwhelming, as a couple of people (new to both reason and react) have suggested. The relevant discussion has been started on [reasonml chat](https://reasonml.chat/t/create-a-react-hooks-minimal-template/2040/6).

The new template includes `bucklescript` interop, a lot of files that have to be manu

[2019-12-03 03:14] #3987 closed

[2019-12-04 01:27] bobzhang commented on #4000
maybe renaming will cause some confusion, but `react-starter` looks great to me

[2019-12-04 01:28] bobzhang commented on #3990
close it for now since we did not find breaking example, feel free to re-open it when a concrete example is filed

[2019-12-04 01:28] #3990 closed

[2019-12-04 01:29] bobzhang commented on #3969
@cknitt can you confirm it is fixed in master?

[2019-12-04 01:35] bobzhang commented on #3969
this seems to be fixed

[2019-12-04 01:35] #3969 closed

[2019-12-04 03:01] sync commented on #3990
yes tried hard but mostly was the incoming js that was buggy so could not reproduce it, sorry :-)

[2019-12-04 10:19] giraud opened #4005 "Error when installing 7.0.0 on windows"
I updated bs-platform from ^5.0.0 to ^7.0.0 in package.json and did a `yarn install` on windows 10.
I got this:
![image](https://user-images.githubusercontent.com/239612/70134223-ef55e000-1687-11ea-9d8f-ae25079d48c5.png)

`npm i`doesn't work either with the same message

[2019-12-04 10:30] fhammerschmidt opened #4006 "Misleading message about error location in BS 7"
[code]

I think it is strange now with Reerror in BuckleScript 7.0.0, that the error message still says that

When actually the location is exactly where the error happens (which is really nice)

I would change that to be less confusing, for example

`If you cannot locate the error with the help of the message above, the error location should be slightly above this message`

But I am not sure whet

[2019-12-04 15:29] cknitt opened #4008 "New refmt regressions in BS 7.0.0"
https://github.com/facebook/reason/issues/2505
https://github.com/facebook/reason/issues/2507

[2019-12-04 22:51] MargaretKrutikova commented on #4000
Great! I will prepare a PR with the new `react-starter`.

[2019-12-05 03:11] bobzhang commented on #4005
it seems to be my silly mistake to uploaded the old version of binaries, fixing it

[2019-12-05 03:24] SampsonCrowley commented on #2927
I would also like to see this functionality. It I die a little inside every time I see the generated JS

Theres rarely a need to do `import * as Namespace from ... Namespace.module()` instead of `import { module } from ... module()`

[2019-12-05 05:59] chenglou opened #4009 "Fatal error: exception Whole_compiler.Ctype.Unify(_)"
Repro:

[code]

Compiler output:

[code]

Instead, it should correctly fail to type check (solution is to remove the `ref` in the last line)

[2019-12-05 06:01] anmonteiro commented on #4009
For what it's worth this is the utop output for your snippet:

[code]

[2019-12-05 13:42] bobzhang commented on #4009
Do you see this in master? The stacktrace is intentional on master for debugging

[2019-12-05 13:49] bobzhang commented on #4008
This would be nice to be tracked in reason repo so that it catch more attention

[2019-12-05 13:53] chenglou commented on #4009
This is 7.0.0

[2019-12-05 13:55] bobzhang commented on #4006
cc @chenglou

[2019-12-06 01:48] bobzhang commented on #4009
[code]

[2019-12-06 01:53] bobzhang commented on #4009
This is the same behavior as ocamlc@4.06.1, seems to be fixed in 4.08.1, will check if there is a easy cherry pick

[2019-12-06 01:53] #4009 closed

[2019-12-06 01:55] bobzhang commented on #4000
landed in master

[2019-12-06 01:55] #4000 closed

[2019-12-06 06:49] #4005 closed

[2019-12-06 13:36] alexfedoseev opened #4014 "Ability to pass arguments to ppx via ppx-flags in BS v7"
It seems that v7 doesn't allow passing arguments to ppx anymore.

I tried:
[code]

In every way, I get this error:

[code]

[2019-12-07 08:42] alexfedoseev commented on #3914
https://github.com/MinimaHQ/bs-log/pull/12

`bs-log` is updated and published as `bs-log@next`. The only thing that stops me from publishing it as latest is that I can't test installation on Windows machine. I'd really appreciate if anyone could help me with it.

[2019-12-07 11:55] jchavarri opened #4015 "Show warning if ppx-flags is not in format `package_name/binary`"
It seems that `ppx-flags` official format is `package_name/binary`.

From [official schema docs](https://bucklescript.github.io/bucklescript/docson/#build-schema.json):

But it also accepts regular binaries without package. In this case, the Merlin generated `FLG` is just the binary name.

All this makes sense, but it can lead to confusing situations, e.g. we recently published `bs-emotion-ppx` in

[2019-12-08 13:08] bobzhang commented on #4014
can you try `bsb -- -t commands target` and paste the output here? It is strange since we don't touch the build system for a while.
The supported format is as below
[code]

[2019-12-08 17:38] janicduplessis opened #4016 "Allow js `null` as `None` option runtime value to improve js interop"
## Proposal

Currently options can be represented as `undefined | <js_value>` at runtime. To improve interop with JS I wonder if it would be possible to represent them as `undefined | null | <js_value>`.

This would allow binding directly to JS objects without having to use Js.Nullable types. Currently it seems dangerous to do so since it is common to use null and undefined interchangeably in JS c

[2019-12-08 19:19] alexfedoseev commented on #4014
[code]

[2019-12-09 08:10] bobzhang opened #4019 "Add sugar support for Js.Dict using Extended index operator"
https://caml.inria.fr/pub/docs/manual-ocaml/manual042.html

We can do this for Belt.Map as well

[2019-12-09 18:46] cristianoc commented on #4016
@janicduplessis that was discussed during the design phase for option, and decided against. It would be difficult to go back now.

Another possible direction would be to make nullable as similar as possible to option, with near identical APIs but keeping types distinct.

[2019-12-09 20:57] dangdennis commented on #3947
@ryyppy @glennsl If we'd like to see a push for curating community approved bindings of official APIs right now in Node or web apis, where can we start? Hit up the reason bucklescript channel with a working repo? Ask a community "leader"?

[2019-12-10 01:08] bobzhang commented on #4016
The thing we made the decision is that we need to make sure the code below is of same semantics

[code]
We can introduce a new type to make nullable life easier (two options)
[code]

[2019-12-10 03:31] bobzhang opened #4021 "upgrade refmt for fix of regressions"
cc @thangngoc89

[2019-12-10 04:09] anmonteiro commented on #4021
I can do that after we fix https://github.com/facebook/reason/issues/2510, unless you want it sooner?

[2019-12-10 04:10] bobzhang commented on #4021
that looks perfect, thanks for having a look

[2019-12-10 11:22] jchavarri opened #4023 "Playground fail to build with js_of_ocaml 3.5.1"
Docs mention using js_of_ocaml 3.5.1

https://github.com/BuckleScript/bucklescript/blob/a552a78a9846caa046ff61aa1edfde09f38dd0f2/CONTRIBUTING.md#L213

But doing so triggers this error:

[code]

3.4.0 works ok. It seems that something changed in the way runtime is handled from 3.4.0 to 3.5.1?

This is the whole command:

https://github.com/BuckleScript/bucklescript/blob/a552a78a9846caa046ff61aa1edf

[2019-12-10 13:22] #4021 closed

[2019-12-10 15:09] hhugo commented on #4023
It seems that findlib/ocamlfind support is missing.
try `opam install ocamlfind`

Also note that `weak.js` is now included by default, no need to pass it on the command line.

[2019-12-10 15:18] villesau commented on #4016
Couldn't there be something like `[@bs.nullable]` that can treat nulls as options? I just spent way too much time on this, and ended up cluttering my user land code when simple binding should've been enough.

As an user of the binding, I really shouldn't need to care if something is null or undefined as both are so mixed up in JS and usually treated the same. Some times there is special meaning an

[2019-12-10 15:30] janicduplessis commented on #4016
I see, thanks for clarifying this decision.

@bobzhang I assume the problematic part is the `x = None` equality check, which will compile to `x === undefined`? Like I said I have no knowledge of how this is implemented but would it be possible to add a special case for equality checks between options to solve this?

A new option type that handles both null and undefined would also work but getting

[2019-12-10 15:44] cristianoc commented on #4016
@villesau FYI genType does the conversion for you: https://github.com/cristianoc/genType#optionals
In case this is useful to unblock you. It can be used even if you don't have types in JS (with the `untyped` backend).

[2019-12-11 01:18] #4023 closed

[2019-12-11 01:22] bobzhang commented on #4016
@janicduplessis It is a bit more complicated, None could escape so that some ad-hoc processing does not apply.
[code]
When we introduce a private type, this can be avoided

[2019-12-11 01:23] bobzhang commented on #4008
seems to be fixed in master, @cknitt would you confirm? will schedule a bug fix release this weekend

[2019-12-11 01:23] #4008 closed

[2019-12-11 01:24] bobzhang commented on #4014
we will prioritize it, I remember we have some tests in the CI, so it should not break(I did not touch these parts for a while). In the meantime, do you have a small repo to reproduce so that we can investigate? thanks

[2019-12-11 01:25] bobzhang commented on #4006
@fhammerschmidt would you mind send a PR on this error message tweak? thanks

[2019-12-11 01:52] johnridesabike opened #4025 "Piping Js.Dict functions after Js.Dict.empty() produces invalid JavaScript"
[code]

Output:

[code]

It looks like an edge case, since even the OCaml/Reason code shouldn’t do anything useful. However, I don’t think there should ever be invalid JS.

Possible valid output:

[code]

Reproducible in BuckleScript 7.0.1.

[2019-12-11 01:56] mlms13 commented on #4025
This also seems to be reproducible without pipes. At least in 5.0.6, this produces the same invalid JS:

[code]

[2019-12-11 02:07] yawaramin commented on #4025
This implementation works correctly:

[code]

I guess because `[%bs.raw ...]` wraps its argument in parentheses.

[2019-12-11 02:47] #4025 closed

[2019-12-11 03:13] johnridesabike opened #4027 "Inline records aren’t represented as JavaScript objects"
[code]

Output:
[code]

Expected output:
[code]

It would probably make sense, since regular records are JS objects now.

[2019-12-11 03:53] bobzhang commented on #4027
@johnridesabike this is something we want to address in the future, there is some complexity involved here. We will revisit it

[2019-12-11 03:53] #4027 closed

[2019-12-11 13:26] cknitt commented on #4008
@bobzhang The issues with escaping identifiers like `method` are still not fixed completely, see https://github.com/facebook/reason/issues/2513. 😔

[2019-12-11 17:03] jdeisenberg opened #4030 "Incorrect message about unbalanced parentheses in BS7"
This code:
[code]

produces this error message:

[code]

[2019-12-11 18:27] alexfedoseev commented on #4014
@bobzhang I faced this issue when I tried to implement dependencies handling in [`bs-log`](https://github.com/MinimaHQ/bs-log). To reproduce, I manually edited its `bsconfig.json` (as described [here](https://github.com/MinimaHQ/bs-log#developing)) using the code from issue description and then tried to read argument in ppx src.

[2019-12-11 18:36] abliss commented on #773
I'm still unable to `npm install bs-platform@1.10.3`, with a similar failure (post-install exiting with error code 1), despite being on a 64-bit arm machine. So it seems that there's some problem that's specific to ARM and not to being 32bit.

When I manually run `node scripts/install.js`, I see this error message:
[code]

However, after inspecting the script, I was able to get past this (on Ubunt

[2019-12-12 01:38] bobzhang commented on #4030
moved to https://github.com/facebook/reason/issues/2514

[2019-12-12 01:38] #4030 closed

[2019-12-12 09:44] bobzhang opened #4032 "remove js_cmi_datasets which is no longer used"

[2019-12-12 10:29] #4032 closed

[2019-12-12 14:07] hoichi commented on #1699
Chiming in to say that Wallaby.js introduced a [Time Travel Debugger](https://wallabyjs.com/docs/intro/time-travel-debugger.html), so if we want to be on par with Elm, we need source maps for the custom Wallaby compiler 😀.

Any news yet?

[2019-12-12 20:49] Voronar commented on #98
Iterators (asynchronous) is coming to real world practical development.
https://developer.mozilla.org/en-US/docs/Web/API/Streams_API

[2019-12-13 07:33] LXSMNSYC opened #4036 "Building with in-source: false does not resolve local bindings."
Is there a way for the output files to resolve correctly on the local binding's file path? Currently, the configuration forces me to revert to `in-source: true` just so the library can work, or if I wanted it false, I have to manually copy the bindings to mimic the structure on the output directory.

[2019-12-13 08:35] #4006 closed

[2019-12-13 08:38] Coobaha opened #4038 "Duplicated package warning for symlinked folders"
When there is a dependencies that are using same symlinked package there is a warning that duplicated packages found and first was picked.

I think if both packages are pointing to the same folder this warning shouldn't be shown. It is very annoying with monorepo setup.

cc @bobzhang

[2019-12-14 03:49] bobzhang commented on #4036
do you have a small repo so that I can look into

[2019-12-14 08:31] LXSMNSYC commented on #4036
I actually have one: https://github.com/LXSMNSYC/re-use

By default, I set `in-source: true` so that it can work.

[2019-12-14 10:00] Coobaha opened #4043 "Bucklescript does not generate any info for transitively dependent projects"
@bobzhang It looks like `lib/bs/.sourcedirs.json` is only generated for root compilation. Should it be also generated inside dependencies recursively?

related issue https://github.com/cristianoc/genType/issues/336

cc @cristianoc

[2019-12-14 10:01] cristianoc commented on #4043
There's a different more basic question: even if it's only generated for the root, it could contain information about transitively dependent packages.

[2019-12-14 12:49] bobzhang opened #4044 "Ideal unboxed support"
https://github.com/ocaml/ocaml/issues/7485

https://github.com/ocaml/ocaml/pull/1294

https://github.com/SimonColin/ocaml-unboxed-check-project
(Existentially quantified type variables)

https://github.com/ocaml/ocaml/pull/2188

https://github.com/ocaml/ocaml/issues/7597

https://github.com/ocaml/ocaml/pull/606

[2019-12-15 05:19] Coobaha commented on #4043
I am now trying to make symlinked folders to be watchable from `bsb -w`.  Adding `lib/bs/.sourcedirs.json` to all dependencies will help to achieve this (to read their `dirs`)

[2019-12-15 06:36] Coobaha commented on #3521
https://github.com/BuckleScript/bucklescript/pull/4047 should resolve symlinks that are relative to compilation cwd

[2019-12-15 08:13] Coobaha commented on #3940
@bobzhang should be fixed in https://github.com/BuckleScript/bucklescript/pull/4049

[2019-12-15 08:50] Coobaha commented on #3951
Should be fixed in https://github.com/BuckleScript/bucklescript/pull/4050

[2019-12-15 09:49] Coobaha commented on #4019
Done here https://github.com/BuckleScript/bucklescript/issues/4019

[2019-12-16 01:57] #3940 closed

[2019-12-16 02:25] bobzhang commented on #4043
Note `lib/bs/.sourcedirs.json` was introduced for some internal use, it happens to be useful for genType, this seems to be the good move. `be watchable` is not enough though

[2019-12-16 13:29] RasmusKlett commented on #3914
(lenses-ppx)[https://github.com/Astrocoders/lenses-ppx] might be worth mentioning in the upgrade guide, as it is used in the beautiful ReForm library. According to their Readme, I think they support v7.

[2019-12-17 07:24] #3951 closed

[2019-12-17 11:40] bobzhang commented on #4044
Suppose we configure with flat-float-array=false.
We need test whether it works under Windows

[2019-12-17 12:50] bobzhang commented on #4044
fixed in #4057

[2019-12-18 03:04] bobzhang opened #4058 "Get rid of value restriction for uncurried function support"
Note value restriction is quite annoying so that you can not have such values in toplevel:

[code]
Since internally we handle uncurried type as abstract type, due to value restriction we can not produce polymorphic type.

If we redefine curried type as this (take arity 1 as an example):

[code]

We can produce polymorphic values here, however, we still can not make it abstract type, to avoid user

[2019-12-19 08:16] bobzhang commented on #4044
done in master

[2019-12-19 08:16] #4044 closed

[2019-12-19 08:43] bobzhang commented on #4014
Hi, I do have a test case in CI, so it should not be broken? https://github.com/BuckleScript/bucklescript/blob/master/jscomp/build_tests/scoped_ppx/bsconfig.json can you double check

[2019-12-19 08:45] bobzhang commented on #4014
seems your use case does not follow the schema

[2019-12-19 09:58] bobzhang opened #4061 "turn off warning 61 or not"
https://github.com/ocaml/ocaml/pull/8914/files
Unboxable type in external, this is quite confusing

[2019-12-19 10:23] alexfedoseev commented on #4014
@bobzhang This is weird. I double checked and format seems ok.

I recorded how it fails for me: https://www.dropbox.com/s/cj2kj2jkx1kh48d/Screen%20Recording%202019-12-19%20at%2013.09.18.mov?dl=0

I also noticed in the test case the ppx is actually a js script which probably a reason why it doesn't fail.

[2019-12-19 10:30] anmonteiro commented on #4014
@alexfedoseev It just looks like you upgraded `ocaml-migrate-parsetree` and didn't write your argument specification.
https://github.com/ocaml-ppx/ocaml-migrate-parsetree/blob/master/MANUAL.md#new-registration-interface

[2019-12-19 10:45] alexfedoseev commented on #4014
Ohhhhh, I didn't know about this one. I will try it out. Thanks, @anmonteiro!

[2019-12-20 07:36] cknitt opened #4063 "7.0.2-dev.1: refmt regression: escaping of "method" breaks JS interop"
See https://github.com/facebook/reason/issues/2523.

[2019-12-22 09:11] alexfedoseev commented on #4014
Works like a charm, closing.

[2019-12-22 09:11] #4014 closed

[2019-12-22 09:14] anmonteiro commented on #4014
cc @baransu if you ever wanna re-add args to graphql ppx

[2019-12-22 09:44] baransu commented on #4014
Thank you @anmonteiro ❤️

[2019-12-22 18:46] lensbart opened #4065 "Cannot use emoji’s as folder names"
Hello,

At some point during the past year I felt clever and used emoji’s for some of the folders names across our code base. Today I got started with ReasonML which seems to be built on really cool technology.

As I followed the [installation instructions](https://reasonml.github.io/reason-react/docs/en/installation), I ran `yarn re:watch` which lead to the following error:

[code]

Upon inspecti

[2019-12-22 20:34] nmn commented on #2849
This has been a high priority for over a year. Is there any progress on this?

This example shows something similar is the docs, but it doesn't work.
https://bucklescript.github.io/docs/en/generate-converters-accessors#usage-5

This is an extremely important feature for inter-op between reason and existing JS code. I can't believe that it's still not done.

[2019-12-23 01:57] lensbart commented on #3213
I get the same error when `yarn add`ing a dev dependency and adding it to `bs-dependencies` in `bsconfig.json`:

[code]

Reinstalling `bs-platform` via the above suggested `yarn add -D --force bs-platform` eventually did the trick.

* Node v12.10.0
* Yarn 1.9.4

[2019-12-24 19:53] Kingdutch opened #4067 "`bsb -ws` flag is undocumented"
When I run `bsb -help` there is info about all the available flags. However there's no documentation for `-ws` which is a valid flag.

It is documented in the ReasonReact hooks example as follows:
[code]

That's a pretty odd place to find the documentation for the flag because someone may want to use the Websocket events outside of ReasonReact.

If the flag should not generally be used then it may

[2019-12-27 05:48] nirvdrum commented on #2827
With BuckleScript 7 out the door, I've cleaned up a lot of my bindings by removing usages of `[@bs.deriving abstract]`. Now I can usually use simple record mapping, except in cases where fields must be optional (as in, they should not appear in the generated JS object). In every such case I've come across it's been for generating an argument for a JS method binding. I.e., these are not objects I e

[2019-12-27 06:10] nirvdrum commented on #2934
I'm having to map an input type for a function that uses untagged union types. Being able to use `[@bs.unwrap]` in `[@bs.deriving abstract]` would be immensely helpful. But, if it's not going to be supported, it'd also be helpful if compilation failed rather than silently generating JS that doesn't match the programmer's intent.

[2019-12-27 08:16] jfrolich opened #4069 "Readability by inlining"
This is example code generated by Bucklescript.

[code]

It would improve readability a lot if it could be inlined to something like this:

[code]

[2019-12-27 11:30] tsnobip commented on #2934
@nirvdrum I now use unboxed variants (would work with unboxed records too) to model methods that can have multiple argument types. It's available since BS7.0.2-dev.1 .

[2019-12-28 07:31] bobzhang commented on #4069
would you share the source code?

[2019-12-28 07:33] bobzhang commented on #4065
@lensbart would you share the source layout, `tree -d` output

[2019-12-28 07:38] bobzhang commented on #2934
@nirvdrum you are expected to have a warning that `bs.unwrap` attribute is unused.
Note `bs.unwrap` does not work here, since it would not be type safe to destruct untagged union types.
@tsnobip would you mind share your solution here? thanks

[2019-12-28 11:27] lensbart commented on #4065
Heavily pruned (the full tree is 11k lines):
[code]

[2019-12-28 12:12] jfrolich commented on #4069
It's actually the output of a ppx of (https://github.com/baransu/graphql_ppx_re/pull/58), but I can get the fully ppx-ed source of it. Will come back and paste it later!

[2019-12-28 12:30] jfrolich opened #4070 "ES6 tagged template literal escape hatch"
Some modern libraries rely on the tagged template literal (styled components, graphql libraries), and it is often necessary to use the tagged template literal to have good interop with these libraries.

My specific use-case at the moment is Gatsby. It's a static site generator, and it uses babel plugins to extract graphql queries and pre-render them. I think I am pretty far with getting this to wo

[2019-12-28 12:37] jfrolich commented on #4070
Another great upside of this solution is that the types are preserved (of the tagged template literal function)

[2019-12-28 14:12] jfrolich commented on #4070
Hmm pretty hard to do it now with `[%bs.raw]`. Is there an easy way to get the name of a literal after it's compiled to javascript? (or a way to ensure the literal is the same in javascript) (as the bucklescript name and the javascript name often differs, like adding a $1).

[2019-12-28 15:13] jfrolich opened #4071 "More concise imports on ES6 target"
Currently all ES6 targets are as follows:

[code]

This is not great for the module size, because to my knowledge tree shaking doesn't work when with the wildcard import.

would be better to do this:

[code]

[2019-12-28 15:22] jfrolich commented on #4069
This is the source as fully ppx-ed:

[code]

[2019-12-28 18:49] nirvdrum commented on #2934
@bobzhang Maybe I'm looking in the wrong place then. All I'm looking to do is create JS objects I'm never going to read in a type-safe manner. But I can't use `[@bs.obj]` because of #2827. I'd be okay with `[@bs.deriving abstract]` adding the limitation that getters (and even setters) would not be generated for any field with `[@bs.unwrap]`. I can appreciate that may not be the proper trade-off, h

[2019-12-30 00:11] bobzhang commented on #2934
In that case, this feature is perfect for you https://bucklescript.github.io/blog/2019/12/20/release-7-02 note you can create a local module which only exposes needed types for you

[2019-12-30 00:17] bobzhang commented on #4065
would you cat `lib/bs/.sourcedirs.json`, it seems it does not generate a valid json, thanks

[2019-12-30 00:26] lensbart commented on #4065
Indeed, if I try to pretty-print the JSON output, I get `JSON Tools: SyntaxError at character 9368 near "{ "dirs" : ...`. This character index corresponds to

`... "app/content/\240\159\147\149annotation" ...`

[2019-12-30 00:47] nirvdrum commented on #2934
Ahh, thanks. This must be what @tsnobip was referring to. I tried piecing that together from the release notes, but somehow overlooked the documentation. Thanks for the pointer.

[2019-12-30 10:54] tsnobip commented on #2934
Yes @nirvdrum that's indeed the feature I was referring to, you would use it this way :
[code]
You could of course use an interface file to hide the implementation instead of defining the module type the way I did it here.

[2020-01-06 03:43] bobzhang commented on #4065
it seems `String.escaped` does not produce proper encoding for unicodes, will see if there is an easy fix

[2020-01-07 02:27] #4065 closed

[2020-01-07 09:00] #4069 closed

[2020-01-07 15:55] flash-gordon commented on #2294
@bobzhang this is not an issue anymore in BS 7 since records are now compiled to JS objects, right?

[2020-01-08 03:00] bobzhang commented on #2294
indeed, jsconverter is not very useful after such change

[2020-01-08 03:00] #2294 closed

[2020-01-08 05:27] jfrolich opened #4080 "Optimization: [@bs.string]"
This is typical output when using [@bs.string]

[code]

It would be very nice to optimize this to the following (especially when there are a lot of variants).

[code]

[2020-01-08 05:30] jfrolich commented on #4080
Nevermind I think this is harder than expected.

[2020-01-08 05:30] #4080 closed

[2020-01-08 08:28] jchavarri opened #4081 "bstracing: Include time spent on building libraries"
Currently, `bstracing` only exports time from "top level" application compilation time, but it'd be great if it also included —maybe conditionally through a command line flag— the time spent in libraries compilation, in order to have a more complete profiling picture.

[2020-01-08 10:17] tomraithel commented on #2294
I can confirm, with BS 7 the `jsConverter` is not needed anymore and my example from above now works in a simplified version:

[code]

Well done and thanks for this great language! 👏

[2020-01-08 20:58] jakub-zawislak opened #4082 "Template react-hooks - can't caught exception because of moduleserve package"
I have discovered a bug while using a `moduleserve`. I think it would be better to stop using `moduleserve` in templates.

This exception can't be caught while using `moduleserve`:
[code]

This simpler example works:
[code]

There is no problem with JS bundle generated by `webpack` or dev code served by `webpack-dev-server` and so on. I have only problem with `moduleserve` that comes with the `rea

[2020-01-09 00:59] TheSpyder commented on #4071
I thought tree shaking worked fine with * imports?

[2020-01-09 10:25] jfrolich commented on #4071
Ok it seems like Webpack at least does support it. So don't see a lot of reasons why the other syntax is better (except styling).

[2020-01-10 10:01] jchavarri opened #4084 "Build "generators" don't work in monorepo setup, as rules are not applied transitively"
We are exploring at Ahrefs a build setup with [atdgen](https://atd.readthedocs.io/en/latest/atdgen.html) that gives bsb more control over the `atd` files that are built using [generators](https://bucklescript.github.io/docs/en/build-advanced#customize-rules-generators-support). We recently updated the [BuckleScript example](https://github.com/ahrefs/bs-atdgen-codec-runtime/pull/18) to use them, an

[2020-01-10 10:16] davesnx opened #4085 "BuckleScript improved debug mode ("-bs-g")"
Hello,

I'm opening this issue in order to talk about a few issues related with debug mode `("-bs-g")`.

- Doesn't print properly variants
- Lack of support of Records
- Lack of support of other Types, like modules/tuples/etc.
- Fails to print nested Lists
- The chrome debugger can't be used inside a terminal (Maybe we don't even want that)

In order to address that personally, I created a chrome

[2020-01-11 17:33] lensbart commented on #661
Having the option to pipe the BuckleScript output through a formatter of choice seems to be the lowest-friction solution for those who want to gradually adopt BuckleScript-compiled code (e.g. ReasonML):

1. JS formatting will be consistent with the rest of the codebase (same Prettier/ESLint config). Due to the wide range of ESLint options, the output can diverge quite a bit.
2. Using the same form

[2020-01-12 02:11] bobzhang commented on #4071
`import * as ModuleName from 'module'`
style is easier to implement it and gives better auto-completion and friendly to devs.
I will close this issue unless we have stronger motivations to work on this

[2020-01-12 02:11] #4071 closed

[2020-01-12 03:49] jfrolich commented on #4071
When tree-shaking is mostly supported in bundlers with this syntax I fully agree! (there is sometimes a bit complexity, because some babel plugins require this type of syntax to do transformations, but I think that is something that has to be fixed on a babel-plugin level (I fixed it for instance for Gatsby).

[2020-01-12 20:00] alexfedoseev opened #4087 "Empty array + `Js.Array.push` is unsound"
This compiles:

[code]

To fix it `arr` requires explicit type annotation.

[2020-01-12 20:22] yawaramin commented on #4087
Looks like the immediate short-term mitigation is to put a big warning in the doc comment of `Js.Array.push` that it's unsound. For the long-term fix–the only thing I can think of is to not equate the types `array` and `Js.Array.t`.

[2020-01-12 20:43] LesleyLai opened #4088 "Get "Unbound module Stdlib" from merlin in fresh install"
My merlin is installed from `opam`, and I use it in Emacs. It works fine for OCaml native projects but fails to run on any bucklescript projects and throws `Unbound module Stdlib`.

merlin                  3.3.3
bsb                      7.0.1

[2020-01-12 20:52] anmonteiro commented on #4088
@LesleyLai a couple things:

1. make sure your merlin is for OCaml 4.06 (that's the OCaml version expected by BuckleScript)
2. don't forget to run `bsb -make-world` first for BuckleScript to generate the `.merlin` file

If you've gone through the steps above and it still doesn't work, could you provide some more information or otherwise a small repro where this happens?

[2020-01-12 21:59] LesleyLai commented on #4088
Thank you. My OCaml version (4.09.0) is too new, and switching to 4.06 solves the problem.

[2020-01-12 21:59] #4088 closed

[2020-01-13 02:00] cristianoc commented on #4087
Kind of similar to: https://github.com/cristianoc/genType/blob/master/examples/typescript-react-example/src/ImmutableArray.rei

Non-extensible arrays are those without push, and extensible ones would have different type for empty. Looks like conversion between the 2 kinds would require a copy.

Mutabiliy and extensibility look like orthogonal properties, so one gets 4 kinds. Kind of heavy.

[2020-01-13 02:55] bobzhang commented on #4087
The binding of push is not safe, this is a known issue, we should wrap it into an abstract type, Js.Vector etc.

[2020-01-13 03:23] bobzhang commented on #4087
From practical point of view, push is quite convenient JS context.
An easy fix is giving a warning/error to empty array literal, which should be enough:
[code]
Note empty array literal is barely useful except as a place holder we can provide Array.empty instead

[2020-01-13 03:55] bobzhang opened #4089 "syntax check for `[%re` extension"
Since now we understand regex syntax

[2020-01-13 06:06] bobzhang commented on #4087
the least intrusive approach is to make `[||]` weakly typed

[2020-01-13 06:11] #4087 closed

[2020-01-13 12:15] turboMaCk opened #4091 "aarch64 build issue with 7.0.1"
Hello here!

*Sorry for opening issue related to non official distribution of bs-platform if that is something you're not interested or don't have time to support.*

We're trying to update version of bs-platform in [nixpkgs](https://github.com/NixOS/nixpkgs/pull/76104). Nixpkgs are source based distribution with official public binary cache. Especially on NixOS the official distribution via npm is

[2020-01-13 12:50] bobzhang commented on #4091
@turboMaCk Hi, we are happy to help. Note our ninja is not exactly the official, it comes with our own patches, so don't reuse ninja. (the ninja binary is pretty small ).

The build log is not very helpful, it fails compiling refmt (but no error message), my gut feeling is you are running out of memory when compiling.

I wonder if we can have a verbose mode for detailed log

[2020-01-13 20:24] mlms13 opened #4094 "min_float is not equal to Number.MIN_VALUE"
`Pervasives.min_float` seems to be hard-coded to a value that is different from `Number.MIN_VALUE`. It looks like [this was not previously the case](https://github.com/BuckleScript/bucklescript/commit/6debf4e97933f8bf44ec5f8537625cdda429c6a2). Was that change intentional?

[2020-01-14 10:44] jchavarri commented on #4038
@bobzhang would it be possible to prioritize this issue? What'd be needed to merge #4045, is there anything I could do to help?

These warnings affect monorepo tooling like [Rush](https://rushjs.io), that rightfully return a nonzero exit code if a script outputs warnings, which makes CI fail. Besides, the "duplicated package" messages warnings flood the terminal for mid-large BuckleScript repos.

[2020-01-14 11:00] bobzhang commented on #4094
[code]
[code]
it seems they are indeed not the same

[2020-01-14 20:39] turboMaCk commented on #4091
Thanks @bobzhang. I tried few more things but was unable to pin down what the problem with build on aarch was. I wasn't able to rule out the out of memory issue but neither I'm able to confirm it. For now we're going to simply mark it as a broken platform.

Also from now on we're using BS fork of ninja in build.

It's possible to install bs-platform on NixOS or using nix on other OS via `nix-env -

[2020-01-15 06:07] #4089 closed

[2020-01-15 06:10] bobzhang commented on #4085
Which version are you using, are you sure that you set up `-bs-g` properly?

[2020-01-15 06:22] bobzhang commented on #4091
@turboMaCk by reading the log, it seems you are doing the dev-build instead of the release build.
For release build, if you don't use npm, it should be just `node ./scripts/install.js`

[2020-01-15 06:37] bobzhang commented on #4038
@jchavarri thanks for the ping, left comment in that PR

[2020-01-15 09:56] davesnx commented on #4085
Hey @bobzhang, I just wanted to improve the debug mode. When I was playing with it was BS5 and worked fine (was showing the records as the documentation and so on). Now I tested again, creating an empty project with bs-platform and setting `-bs-g` with this `src/Index.re`

[code]

Prints to the Chrome Debugger:
[code]

Maybe with BS7 is broken, that wasn't the idea when I created this issue.

Than

[2020-01-16 08:51] #4038 closed

[2020-01-16 11:03] kd4001 opened #4099 "Optional parameters with defined type not wrapping it with option variant."
I have 3 scenarios where a function take optional parameters.

[code]

[code]

[code]

So in 1st scenario it doesn't wrap the **title param**  with option where as in 2nd scenario it does. So to wrap it with option variant I have to explicitly wrap it.

Now the problem is none of the scenario gives error.
Where as 1st scenario should give an error.

For example,

Let's say I have below scenario.
[

[2020-01-17 11:50] chenglou opened #4101 "Two bsb with socket running makes the second one's rebuild detection fail"
Repro:

- Create 2 projects, each with `bsb -make-world -w -ws _ ` (aka default ws port).
- Start both.
- Change a file in the second project.
- See that the second bsb doesn't rebuild.

This should probably error the same way we're currently erroring when there are more than one `bsb` running for the same project.

[2020-01-17 12:14] bobzhang commented on #4099
moved https://github.com/facebook/reason/issues/2535

[2020-01-17 12:23] bobzhang opened #4102 "upgrade reason"
Make sure this is indeed fixed
https://github.com/facebook/reason/issues/2519
https://github.com/facebook/reason/commit/0d28960d22e34df71180f938eb4799b34b49590d

[2020-01-18 06:39] cristianoc opened #4103 "Two builds on the same project run concurrently."
On mac, bs-platform 7.0.2-dev.1, with the genType project:
[code]

Observed: same warning reported twice, End_of_file exceptions, varying on different runs.

[2020-01-18 07:26] #4101 closed

[2020-01-18 07:26] #4067 closed

[2020-01-19 06:48] bobzhang commented on #4102
Next week is Lunar New Year which means slow days for me.
Is it possible to cut a release from refmt? https://github.com/facebook/reason/commit/0d28960d22e34df71180f938eb4799b34b49590d
or shall we wait for a while?
cc @thangngoc89 @anmonteiro  Thanks!

[2020-01-20 03:47] bobzhang opened #4106 "clean code for pattern ` for _ = 0 to 10 do ... done`"

[2020-01-21 01:37] ELLIOTTCABLE commented on #2419
As a tertiary element of this issue: our project needs *not only* the sub-packages `in-source` setting maintained, but the entire `package-specs` section — that is, there's *two* build-output-modes, both of which must be present for the dependant-project to build:

[code]

(For context, this is because both the CommonJS / ES5 and ESM / ES6 builds are shipped to npm; but the descendant project very

[2020-01-21 07:40] ELLIOTTCABLE opened #4110 "Return to maintaining a "next" or "dev" dist-tag on npm?"
Up until recently, there was an npm 'dist-tag' that someone was regularly updating to pint to the next `-dev.*` version of `bs-platform`. This was super-useful for CI scripts ([like](https://github.com/ELLIOTTCABLE/bs-deriving/blob/master/scripts/travis.sh#L63-L69), [mine](https://github.com/ELLIOTTCABLE/bs-deriving/blob/2b49678213f37cdcf5af85533c96df39e33f466f/.travis.yml#L48-L54)) and allowed pr

[2020-01-22 00:40] bobzhang commented on #4085
Tried your example with bs7.
[code]
in chrome devtools, it works as expected, note for nullary variant, we can not beautify it yet
<img width="343" alt="Screenshot 2020-01-22 at 8 37 39 AM" src="https://user-images.githubusercontent.com/747051/72855506-b682d080-3cf2-11ea-9686-2de998fa69d6.png">

[2020-01-22 00:40] #4085 closed

[2020-01-22 01:06] bobzhang commented on #4081
For the temporary work around, you can run bstracing in your dependencies independently

[2020-01-22 10:56] MoOx commented on #1436
Reminder for those looking for this, best quick workaround

- Make your `ThingPlatform.js` * platform
- Make a `Thing.{platform}.js` which basically import/export `ThingPlatform.bs.js`  * platform
- Make a `Thing.re` that is a binding of Thing.*.js

Since reason-react 0.7 & zero cost bindings, the import/export step is not painful.

But an official solution would be nice, but that could involve va

[2020-01-22 16:52] bsansouci opened #4113 "VSCode reads doc blocs differently than intended"
Hovering over the function `Js.Date.getFullYear` I get the docs for the `getDay` function, which are written below that function and right above `getFullYear`.
![Screen Shot 2020-01-22 at 8 47 39 AM](https://user-images.githubusercontent.com/4534692/72914656-d961b480-3cf3-11ea-93bf-9c5e6aa8cbe3.png)

![Screen Shot 2020-01-22 at 8 46 14 AM](https://user-images.githubusercontent.com/4534692/72914589

[2020-01-22 19:07] hhugo commented on #4113
The documentation comment is ambiguous. It's therefore attached to both the previous and following external. Adding a new line before the definition of getFullYear should fix the issue.

[2020-01-22 22:43] rizo commented on #2791
Was there some conclusion about this?

[2020-01-22 22:49] mchaver commented on #2791
That's a good question. My work around was to make this package https://github.com/plow-technologies/bs-Zarith

[2020-01-22 22:53] rizo commented on #2791
Thanks for the quick response and for linking that. I discovered your package too after some searching.

Initially I thought that your `bs-Zarith` library was somehow related to https://github.com/ocaml/Zarith but it seems like it's an independent implementation.

[2020-01-22 23:14] mchaver commented on #2791
It follows https://github.com/ocaml/Zarith closely but is an independent implementation. I use `bs-Zarith` in a production system and has a little bit of unit testing. Hope it is useful!

[2020-01-26 08:10] jfrolich opened #4115 "JSON interop. Js.Nullable to option"
It would be great to have a function available in Bucklescript that will deeply convert `Js.Json.t` structures from `Js.Nullable.t` to `option` (basically converting all null values to undefined values). This is fine because in JSON we don't have `undefined` as a possible value and in option we don't have `null` as a possible value.

This makes it very easy to cast a JSON result into native Buckle

[2020-01-27 01:08] ELLIOTTCABLE commented on #3383
As the above notification points out, I've started taking a stab at this in #4116. (My time isn't unconstrained right now, so I'm not sure how quickly the work will proceed; feel free to snag this out from under me if you think you can complete it faster. (= )

[2020-01-27 08:06] bobzhang commented on #4102
ping @anmonteiro ?

[2020-01-27 08:07] bobzhang commented on #4094
let me know if you have other concerns

[2020-01-27 08:07] #4094 closed

[2020-01-27 08:08] bobzhang commented on #4082
ping @chenglou

[2020-01-27 08:08] chenglou commented on #4082
Ah yeah. Thinking of this one

[2020-01-27 08:09] bobzhang commented on #4070
the thing is es6 tagged literal is completely untyped which is an unsafe feature. Why is hard to do with `raw`?

[2020-01-27 08:12] bobzhang commented on #4015
@jchavarri actually we allowed these kinds of format:
- package/binary
- binary # assume it is in env
- /absolute/path/to/binary
- ./relative/path/to/binary
you mean we should warn the second form?

[2020-01-27 08:15] duane commented on #1124
Is there any movement on this?

[2020-01-27 08:28] jchavarri commented on #4015
Yeah I mean that I find confusing that the official way to distribute ppxs seems to be with npm, which will put the binaries in `node_modules/.bin`, so option 1 seems to be enough?

While options 2, 3, and 4 might be helpful in some corner cases, I find them confusing because they make different assumptions than case 1 regarding `node_modules`. Besides, they are not documented in the schema docume

[2020-01-27 12:45] jfrolich commented on #4070
@bobzhang: Because if the template literal tag for instance is `Gatsby.graphql`, in raw I cannot indicate I'd like to use that reference for the template literal. So if `Gatsby` is not used anywhere else, it's not added as an import.

[2020-01-27 12:49] jfrolich commented on #4115
Would you be open for a PR for this @bobzhang?

[2020-01-27 18:01] OvermindDL1 commented on #1124
It's purely a bucklescript configuration thing.  I 'think' they have configurations for it now, should be in it's manual I'd hope.  :-)

[2020-01-28 00:20] mlms13 commented on #4094
I was just wondering if it would make sense to use

[code]
...from the browser instead of hard-coding it to a different value, but I don't know if it really makes much difference to anyone.

[2020-01-29 02:36] #4113 closed

[2020-01-30 01:19] #4102 closed

[2020-01-30 02:27] bobzhang opened #4123 "tasks.json in templates is out dated"
it needs to be upgraded to match latest vscode

[2020-01-30 09:48] bobzhang commented on #4063
@cknitt we made a release of 7.0.2-dev.2, feedback is welcome

[2020-01-30 09:49] bobzhang commented on #4110
see #4127

[2020-01-30 09:49] #4110 closed

[2020-01-30 11:09] ryyppy commented on #4099
@bobzhang as @gaku-sei said, this issue is most likely caused by the [reactjs_jsx_ppx.cppo.ml](https://github.com/BuckleScript/bucklescript/blob/master/jscomp/syntax/reactjs_jsx_ppx.cppo.ml) located in bucklescript.

\cc @rickyvetter

[2020-01-30 11:38] cknitt commented on #4063
@bobzhang Thanks a lot! I have no more issues regarding the `method` keyword with 7.0.2-dev.2! 🎉

I have some other refmt issues though (code formatting changes), I will file a separate issue in the Reason repo for these.

[2020-01-30 12:18] cknitt commented on #4063
@bobzhang I looked again through the format changes I mentioned above and now think that they are actually ok.

The weirdness was caused by us wrapping some expressions in `{}` unnecessarily in our code , e.g.

[code]

would get reformatted to

[code]

But actually we can just write

[code]

So from my point of view 7.0.2 is good to go now! 👍

[2020-01-30 14:27] rickyvetter commented on #4099
Are you using a version of BuckleScript which relies on OCaml 3.02? The 3.02 version of the AST doesn’t allow us to check this properly (as far as I can tell). This shouldn’t happen in the PPX for 3.06 versions of OCaml.

[2020-01-30 22:11] ryyppy commented on #4099
@rickyvetter the example project by @gaku-sei reproducing the problem is running on `bs-platform@7.0.1` (running on OCaml 4.06).

To get to the gist of the problem, here is the `Component2.re` snippet from the repo:

[code]

This snippet should *not* compile, since ~title is an optional label, therefore it should be of type `option(title)`. As soon as you attach the `[@react.component]` annotation

[2020-01-31 03:10] jfrolich opened #4129 "$star$opt$star in optional arguments in React components"
In upgrading to 7.0.2-dev.2 from 7.0.1

[code]

for a component like this:

[code]

It would be great if this variable would contain the name of the prop (or be more descriptive as `$staropt$star`.

[2020-01-31 04:31] bobzhang opened #4130 "bstracing does not trace failed command"

[2020-01-31 07:10] Coobaha commented on #4063
@bobzhang
https://github.com/JakubMarkiewicz/reason-transition-group/issues/5
https://github.com/darklang/tablecloth/issues/100

[2020-01-31 07:41] bobzhang commented on #4081
we will add `bstracing -C dir` https://github.com/BuckleScript/bucklescript/pull/4131

[2020-01-31 07:42] #4081 closed

[2020-01-31 11:35] bobzhang opened #4135 "[dev] better parallelism for opaque mode"

[2020-02-01 02:59] #4099 closed

[2020-02-01 09:49] #4135 closed

[2020-02-03 04:03] austindd opened #4141 "Name collision between modules, exceptions, and open variants in same file"
The following code fails to compile to JS:

[code]
This code also fails to compile, likely for the same reasons:
[code]

They both fail with the following error:
[code]

I believe this has to do with representing all three of these structures as objects in JS, and are each given the same identifier name. I'm unsure whether this is intended behavior in OCaml, or whether it's a bug with BuckleScript

[2020-02-03 04:16] bobzhang commented on #4141
hi @austindd this is intentional, we don't allow same names be exported twice. Note in OCaml, you can allow it since they live in different namespace, but this complication brings no obvious benefit

[2020-02-03 04:16] #4141 closed

[2020-02-03 04:17] bobzhang commented on #4141
@austindd let me know if you have good reasons to justify such naming schemes, thanks

[2020-02-03 05:16] austindd commented on #4141
@bobzhang I can understand that decision. In my case I was using open variant as GADT's in order to provide type-boxing for JS error types. With that, I could write a function which type-checks the error instance and can return the appropriate subtype of `Error`. But I also wanted this subtyping definition to be extensible, since many libraries often extend the built-in error classes. Hence the op

[2020-02-03 10:22] turboMaCk commented on #4091
@anmonteiro fixed the problem in https://github.com/NixOS/nixpkgs/pull/79106#pullrequestreview-352142217. The failure was caused by `node scripts/ninja.js config` which we ran as a part of configure phase in a build. Since we don't need to do this at all for release build simply removal of this step fixed build on aarch64 for us.

Thanks a lot for the tips :+1:

[2020-02-03 10:22] #4091 closed

[2020-02-03 17:29] nadav-lavy-exa commented on #1326
Has there been any progress on this front?

[2020-02-03 19:35] yawaramin commented on #1326
@nadav-lavy-exa a lot! See https://github.com/facebook/reason/pull/2487

[2020-02-04 03:14] #4129 closed

[2020-02-04 03:16] bobzhang commented on #4141
you can make the name a bit verbose by adding a postfix, it is also better for readability

[2020-02-04 08:39] bobzhang opened #4146 "bsc version scheme proposal"
In the future, we plan to not change compilers in patched version so that
`bsc -v` will show `7.1` instead of 7.1.0, the benefit is that for small changes, we don't need
prebuild binaries any more. The current situation is everytime we made a release, the version changed, and all binaries have to be prebuilt again.

[2020-02-05 12:11] bobzhang opened #4149 "Make a warning when %raw is not type annotated"
In general user should give a type to [%raw...]

[2020-02-06 10:37] luisfcofv opened #4151 "Linux Alpine - Command failed ninja.exe"
Alpine 3.11.2

bs-platform fails during installation.
I do have npm postinstall scripts enabled. There are some references to ninja.exe, but I'm using Linux.

Any idea what could be wrong? I have installed the required dependencies as well.
`apk update && apk add build-base python libpng-dev`

[code]

[2020-02-06 13:45] Coobaha opened #4152 "output raw js comments"
@bobzhang

I think there is no way to output raw js comments inside function body?

https://reasonml.github.io/en/try?rrjsx=true&reason=NoUhCcEMHcAICID0AqWBjA9gWywUwHYAusyi8AugNwBQtANrsQK4DOuAwhvi8QLywAzfLF4A+WAG9qsWKAgwEKdNgAOASzqRCarrBYBPIpAAesXOHAZwJMlWmwAFAEoaAX0pA

Expected behaviour:

JS output has clean comment without parentheses, works with `//` and `/* */`

[2020-02-06 15:29] Kingdutch opened #4153 "JSX doesn't treat function calls in children as single token"
Tested both locally with the latest BuckleScript version as well as on Try ReasonML.

The following code causes a parsing error:
[code]
Because it's compiled to
[code]

The following works which feels like they should be equivalent:
[code]
which compiles to
[code]

To confirm this feels like a parsing priority issue, the following works:
[code]
compiles to:
[code]

I think this means that the JSX

[2020-02-06 17:32] anmonteiro commented on #4153
you want

[code]

[2020-02-06 19:06] hhugo commented on #4152
It seems to work
[code]

[2020-02-06 19:07] Coobaha commented on #4152
But results in a js error
[code]

[2020-02-06 21:36] Kingdutch commented on #4153
Could you explain why that's needed? I would understand in JavaScript JSX because it denotes normal JavaScript values from XML. However, in Reason `<p>variable</p>` without braces works just fine, so why are the braces needed when you perform a function call? Why is it correct that the parser sees `text` and `("Hello World")` as two separate children?

[2020-02-07 01:46] bobzhang commented on #4153
cc @rickyvetter

[2020-02-07 01:51] bobzhang commented on #4152
@Coobaha the playground version is very old, can you try it with the latest version

[2020-02-07 02:04] anmonteiro commented on #4153
@Kingdutch

yes

[2020-02-07 02:10] rickyvetter commented on #4153
This is a decision made at the Reason parser level. Not specific to BuckleScript or the ReasonReact ppx.

[2020-02-07 04:18] Coobaha commented on #4152
@bobzhang Yes I tested locally too, it doesn't work there

[2020-02-07 10:28] Kingdutch commented on #4153
Okay my initial thought there was obviously `\n` as separator is different than ` ` so you could allow both `funccall()` and `funccall ()` and `elem1\n(elem2)` but I can see how declaring one whitespace more separating than another can also cause issues. It was just very surprising to learn that after years of programming the brackets did not stick to the previous word ^^

Final question: Is there

[2020-02-07 15:36] anmonteiro commented on #4153
Reason is not a whitespace sensitive programming language. That’s for the better.

Brackets don’t matter, refmt will choose how to print them back.

[2020-02-08 02:14] bobzhang commented on #4151
we use our own patched ninja, how do you do the installation via npm or not?
we need more context. relevant issue https://github.com/BuckleScript/bucklescript/issues/3666

[2020-02-08 03:14] #4152 closed

[2020-02-08 05:55] Coobaha commented on #4152
@bobzhang i think it is not fixed, there is still no way to output raw comment in function body?

this is not possible:
[code]
expected:
[code]

Maybe bs should allow just printing comments without a raw usage?

[code]

[2020-02-10 02:42] bobzhang commented on #4152
@Coobaha may I hava a better understanding what you are trying to achieve ? Note the toplevel comments work well. The expression does not work since pure comments are not a valid expression

[2020-02-10 04:07] Coobaha commented on #4152
I am trying to output raw comment to disable eslint for one specific line. We are using react rules of hooks, to catch pesky closure bugs with hooks

[2020-02-12 02:57] bobzhang commented on #4070
it is not beautiful but doable:
[code]
bq is a function, then you can bind Gatsby.graphql and pass it to `bq`

Note es6 tagged template literal can do arbitrary things in the runtime, it is an unsafe feature

[2020-02-12 02:58] bobzhang commented on #4070
[code]
This works too

[2020-02-12 04:37] jfrolich commented on #4070
@bobzhang: it needs to be static for most purposes so it can't be the result of a function call. The feature you alluded to earlier that in the future there might be a raw that takes parameters and inlines the function call would be a solution though.

[2020-02-12 04:40] jfrolich commented on #4070
Isn't that true for all externals? There might be a way if tagged template literals are exposed within bucklescript without `raw` to restrict the types and make them typesafe?

[2020-02-12 09:13] bobzhang opened #4162 "A collection of js diffs between *nix and Windows"
[code]
[code]

And filename.js due to an OS specific optimization

[2020-02-13 07:32] #4162 closed

[2020-02-14 04:03] bobzhang commented on #4153
closed since not actionable on our side

[2020-02-14 04:03] #4153 closed

[2020-02-14 21:07] aaronshaf commented on #3164
Is this still planned? :)

[2020-02-14 21:07] aaronshaf commented on #2772
Is this still planned? :)

[2020-02-15 00:25] baransu commented on #3947
@ryyppy is there any active efford for extracting Belt into separate package? There is a lot of functionality that could be implemented but I’m not sure if its good time when Belt is part of this repo and release process is coupled with bs-platform.

[2020-02-15 01:44] bobzhang commented on #3164
Yes, actually we will make some major progress soon

Aaron Shafovaloff <notifications@github.com>于2020年2月15日 周六上午5:07写道：

--
Regards
-- Hongbo Zhang

[2020-02-15 07:50] ryyppy commented on #3947
@baransu Afaik there is no active work on that right now. Building the belt files is rather easy with the playground building workflow, but we'd need some more context on how the belt package would be used. Maybe we can open up a new issue discussing this?

[2020-02-15 08:24] Coobaha commented on #4152
@bobzhang bump 😇

[2020-02-16 02:13] bobzhang commented on #4152
thanks for the ping, using raw for function level comments does not seem a good abstraction.

[code]
If we remove the two parens, would it be a good work around

[2020-02-16 06:23] Coobaha commented on #4152
@bobzhang yes, raw comment without parens is exactly what is needed!

[2020-02-16 08:04] bobzhang commented on #3947
actually we are making some major progress in splitting compiler and stdlib, stay tuned

[2020-02-18 19:19] peacememories commented on #2384
Same here, I use `~/Library/Application\ Support/` as a parent directory for my scratch projects, and when running bucklescript (or just the vscode extension) it fails and generates a `~/Library/Application\%20Support` directory

[2020-02-20 02:16] bobzhang commented on #3254
fixed in next release

[2020-02-20 02:16] #3254 closed

[2020-02-20 02:17] bobzhang commented on #3213
finally fixed once for all, no postbuild needed for next release

[2020-02-20 02:17] #3213 closed

[2020-02-20 02:17] bobzhang commented on #2799
no postbuild needed anymore

[2020-02-20 02:17] #2799 closed

[2020-02-20 02:26] bobzhang commented on #2772
for people who subscribe this issue, we will make major progress on this issue, stay tuned

[2020-02-20 13:31] gaku-sei opened #4174 "Weird behavior with _ref"
I was trying to play a bit the 7.1.1 version when I faced this issue in a component:

[code]

It took some time to figure out that it could be because of how Reason (or BS?) transforms the special keywords.

Also, this compiles just fine:
[code]

The syntax above is slightly better anyway, but I'm a bit confused here 😕
Could it be related to the way Reason 3.6.0 handles keywords?

[2020-02-20 13:55] gaku-sei opened #4175 "Issues while running the bsrefmt binary"
I usually use the `./node_module/.bin/bsrefmt` in order to automatically reformat the files without relying on any IDE plugin. But the last BS version 7.2.0-dev3 seems to be broken:

[code]

Will raise

[code]

Notice that any command raises the same error as above.

[2020-02-20 14:17] Coobaha opened #4176 "curry + external runtime error"
[code]

bs-platform@7.1.1

I was adding default size support in custom makeProps, when i am adding this component it results in a runtime error:
[code]
Js for button
[code]

Jsx output
[code]

cc @bobzhang

[2020-02-20 14:25] bobzhang commented on #4176
do u have some stand alone example?

Alexander Ryzhikov <notifications@github.com>于2020年2月20日 周四下午10:17写道：

--
Regards
-- Hongbo Zhang

[2020-02-20 14:42] Coobaha commented on #4176
I tried to isolate it, but it works if i am just rendering this button outside of all other modules... But it throws for all the buttons in a complex components and nested modules

[2020-02-20 14:45] Coobaha commented on #4176
Now it worked! probably this is some stale js in UI package of my monorepo setup.. Though i was rebuilding both packages (UI and module that is using UI) multiple times.. sorry for the ping

[2020-02-20 14:45] #4176 closed

[2020-02-21 02:08] bobzhang commented on #4174
cc @rickyvetter

[2020-02-21 03:03] #4175 closed

[2020-02-21 03:04] bobzhang opened #4178 "not shipping bsppx, adding a flag `bsc.exe --as-ppx`"
bsppx is only used for editor integration

[2020-02-21 06:28] gaku-sei commented on #4175
So fast!! Thank you @bobzhang 😄

[2020-02-21 09:26] bobzhang commented on #4178
done in master

[2020-02-21 09:26] #4178 closed

[2020-02-21 09:26] #4061 closed

[2020-02-22 07:17] bobzhang commented on #4151
closed as we need more feedback. The installation without npm is `node ./scripts/install.js`

[2020-02-22 07:17] #4151 closed

[2020-02-22 07:36] bobzhang commented on #2384
@peacememories @kachel can you share with more details, I tested on `Application support` and it works  good for me (at least for BuckleScript), not sure about the vscode extension
<img width="431" alt="Screenshot 2020-02-22 at 3 34 34 PM" src="https://user-images.githubusercontent.com/747051/75088507-15a16280-5589-11ea-9337-699ec6e0906a.png">

[2020-02-23 18:52] anmonteiro opened #4183 "Update build docs"
This issue is a request for updating the build documentation for folks who don't install BuckleScript through NPM.

The recent binary layout changes have resulted in changes to the build process, making it (even more) inscrutable.

It seems like in addition to running `node scripts/install.js` I now need to run `node scripts/prebuilt.js`?

But `scripts/prebuilt.js` requires `git` and a git repo wh

[2020-02-23 19:35] anmonteiro opened #4184 "React JSX PPX only applied to `.re` files"
It seems like the React PPX isn't applied to `.ml` files right now. I'm trying to write a binding to a JS component which works if I use it in `foo.re` but not in `foo.ml`:

[code]

[2020-02-24 07:20] bobzhang commented on #4184
cc @rickyvetter do you think it makes sense to apply to ocaml syntax

[2020-02-24 07:22] bobzhang commented on #4183
`node scripts/install.js` should continue working

[2020-02-24 14:05] anmonteiro commented on #4183
It doesn’t seem to be enough. The cmis / cmjs don’t get built or installed.

[2020-02-24 14:08] bobzhang commented on #4183
That’s not needed for building, only for editor based tooling since we load
stdlib from memory. Once we make an official release, we will upload those
files too

Antonio Nuno Monteiro <notifications@github.com>于2020年2月24日 周一下午10:05写道：

--
Regards
-- Hongbo Zhang

[2020-02-24 14:36] anmonteiro commented on #4183
Indeed everything worked until I tried to use Merlin.

I don’t think it’s enough to upload those files to a release yourself if no one else knows how to build them.

We depend on git tags in nixpkgs and they certainly don’t contain those files, and, as I mentioned above, I can’t run the prebuilt script because it depends on git.

[2020-02-25 00:27] peacememories commented on #2384
Hmm, bsb itself indeed seems to work. The problems I've run into are with the VSCode addon and with Parceljs.

[2020-02-25 06:51] bobzhang commented on #2384
@peacememories thanks for the confirmation

[2020-02-25 06:51] #2384 closed

[2020-02-25 06:52] bobzhang commented on #4123
removed, delegated to userland

[2020-02-25 06:52] #4123 closed

[2020-02-25 06:52] #4063 closed

[2020-02-25 06:55] bobzhang commented on #3933
The latest package does not need any build , it is just like vanilla js package,
Can you check if esy.json needs upgraded?

[2020-02-25 13:47] flash-gordon opened #4189 "Add option to compile code with polymorhic empty arrays"
This was discussed on the discord chat.
Recently, it was discovered that `Js.Array.push` leads to unsoundness when combined with polymorphic empty arrays (`[||]` has type `'a array` in OCaml). The issue was reported in https://github.com/BuckleScript/bucklescript/issues/4087 and was promptly fixed in https://github.com/BuckleScript/bucklescript/pull/4090 which made empty arrays weakly polymorphic.

[2020-02-26 01:27] bobzhang commented on #4183
Does nixpkgs not work with a tarball ?

Antonio Nuno Monteiro <notifications@github.com>于2020年2月24日 周一下午10:36写道：

--
Regards
-- Hongbo Zhang

[2020-02-26 01:50] TheSpyder commented on #4019
Documentation moved to https://caml.inria.fr/pub/docs/manual-ocaml/indexops.html

[2020-02-26 01:57] anmonteiro commented on #4183
We _are_ using a tarball

[2020-02-26 02:00] bobzhang commented on #4183
So we will upload a tarball per each release which contains everything (not
depending on git), does it work for you?

Antonio Nuno Monteiro <notifications@github.com>于2020年2月26日 周三上午9:57写道：

--
Regards
-- Hongbo Zhang

[2020-02-26 02:37] #4189 closed

[2020-02-26 02:44] anmonteiro commented on #4183
It would be better if BuckleScript could be built from source for every revision, not just git tags.

[2020-02-26 02:59] bobzhang commented on #4183
It’s already the case, the editor tooling is not supported in git tags

Antonio Nuno Monteiro <notifications@github.com>于2020年2月26日 周三上午10:44写道：

--
Regards
-- Hongbo Zhang

[2020-02-26 16:49] rickyvetter commented on #4174
@gaku-sei I'm a bit confused because I don't think either of your examples parse correctly and I can imagine a couple different ways you might have edited them so I'm not sure what your intention is.

The best way to write something like this is something like:

[code]

I know this is crazy awkward and verbose but it's because React does a lot of special casing of refs today. In the future this sp

[2020-02-28 02:15] jdeisenberg opened #4198 "Signature of Js.Math.pow_int"
Consider this code (in ReasonML):
[code]
The type checker says that the output of `pow_int()` is integer, but the output result is a float.

[2020-02-28 02:58] jdeisenberg opened #4199 "Signature and Documentation of Js.Math.unsafe_round()"
The documentation for `Js.Math.unsafe_round()` (https://github.com/BuckleScript/bucklescript/blob/master/jscomp/others/js_math.ml; line 188) says:

[code]

1) Does the text mean "...returns NaN for values not representable as an int"?
2) This code: `Js.log(Js.Math.unsafe_round(1.0e40));` produces `1e+40` as its output.

[2020-02-28 10:52] gaku-sei commented on #4174
@rickyvetter thank you for your reply. Actually both examples parse without issue, but I indeed simplified my examples to remove the "noise" around the code. Here is the actual code that compiles just fine:

[code]

But this one fails to compile:

[code]

Raising the following error:

[code]

It seems that `_ref` is rewritten as `ref` when passed down to the input at line:

[code]

But is still `_

[2020-02-28 10:54] gaku-sei commented on #4174
I also notice that the issue above also happens with BuckleScript 7.1.1 😕

[2020-02-28 15:45] rickyvetter commented on #4184
Yeah I think this should be enabled for OCaml.

[2020-02-28 16:37] rickyvetter commented on #4174
Thanks for the working examples! The error message was indeed quite strange, but I narrowed it down to the ppx assuming that this variable will always be named ref. The PR will allow both to compile (as well as basically any other name for your ref).

`ref` isn't an OCaml keyword. It's a function and a type that's opened as part of the `Pervasives` module. It is definitely weird because it's often

[2020-02-29 02:08] #4174 closed

[2020-02-29 05:09] gaku-sei commented on #4174
Yes true, I got misled by the syntax highlight ^^

Thank you very much @rickyvetter for the super quick fix 😊

[2020-02-29 07:29] bobzhang commented on #4198
It is indeed a wrong binding, and the name convention is a bit weird, what's your suggestion for the fix? thanks

[2020-02-29 07:36] bobzhang opened #4204 "Feature: non export let binding"
By default OCaml exports everything to public unless you have interface file. We are introducing a let binding which will be not exported by default. There are lots of use case, but we are not discussing the motivation but mostly the _surface syntax_ here.

Extension vs attribute

On the first thought it seems an attribute would be great but it does not work well with `let .. and` very well.

[cod

[2020-02-29 16:34] tyler-conrad opened #4205 "Unexpected behavior with Pervasives.compare record ordering"
It appears that comparing two records using Pervasives.compare does not return the same result as comparing the fields individually in the order they are defined.  Running:
[code]
prints:
[code]

Ubuntu 19.10
Node v13.9.0
BuckleScript 7.1.1 ( Using OCaml:4.06.1+BS )

[2020-03-01 03:08] bobzhang commented on #4205
It would be helpful if you can log one failed point

[2020-03-01 06:15] cristianoc commented on #4205
@tyler-conrad it's designed to be independent of the order of keys in the object.
So `{x:1, y:2}` and `{y:2, x:1}` are considered equal..
I think it was like that because of values coming from JS where you don't know what the order is going to be, and equality, even more than comparison, could be a surprise.

[2020-03-01 08:10] bobzhang commented on #4205
@cristianoc thanks for the explanation. It's always recommended to use your own comparison which in general more performant

[2020-03-01 08:10] #4205 closed

[2020-03-02 01:32] jdeisenberg commented on #4198
If it’s not a float for base and exponent, most of the formulas I see raise a float base to an integer exponent. That would be:

`pow_intExp(~base:float, ~exp:int): float`

Then again, I’m not a mathematician or engineer.

[2020-03-03 06:02] studious commented on #3914
There is also ppx6 for https://github.com/jsiebern/bs-material-ui/tree/master/public/bs-material-ui-ppx

[2020-03-06 08:40] cristianoc opened #4214 "How does one detect `let%private` from the AST?"
genType on

[code]

currently produces
[code]

It could change the behaviour instead, if it could detect the use of `let%private` starting from the AST.

[2020-03-06 08:55] cristianoc commented on #4214
Detecting attribute `internal.local`, would be one way. If that attribute is stable.

[2020-03-06 08:59] cristianoc commented on #4214
Doing that temporarily for now: https://github.com/cristianoc/genType/pull/374/commits/9d65fae537521a958bccf347eb12cf7d61367993.

To be confirmed when things are stable.

[2020-03-06 14:17] bikallem opened #4215 "Illegal character (\r) after running bsrefmt"
OS: Mac OS X Catalina and Linux.

After running ```bsrefmt --in-place src/**/*.re*```, VS Code(or RLS?) reports error on all formatted files as below,
```Error:Illegal character (\r) [102,3]```

Does bsrefmt use `\r' for newline. Looking at the command options for `bsrefmt` we don't have the option of specifying newline char. Is this refmt related or perhaps a RLS issue?

[2020-03-06 17:19] bikallem commented on #4215
Closing this since this is an issue with git when using between windows and linux/mac os.

[2020-03-06 17:19] #4215 closed

[2020-03-07 13:29] bobzhang commented on #4214
internal.local will be stable until we upgrade to ocaml 4.10, thanks for a quick fix

[2020-03-07 13:29] #4214 closed

[2020-03-09 00:57] jwhitley opened #4218 "Fatal error with `bsb -make-world` in 7.2.1"
## Repro steps

1. `git clone https://github.com/jwhitley/bsb-module-demo.git`
2. `cd bsb-module-demo`
3. `git checkout jwhitley/bsb-fatal-js-name-of-module-id`
4. `npm i`
5. `bsb -make-world`

## Expected result

Program builds

## Actual result

Crash during build in step 5:
[code]

## Bug notes

The only source file is `src/demo.re`, boiled down to one failing line which amounts to the use of `

[2020-03-09 01:00] jwhitley commented on #4218
Aside: when bs-platform is installed, it emits the OCaml version it's using. Is there a straightforward way to do this, e.g. via bsb? `bsb -version` doesn't emit the OCaml version.

[2020-03-09 14:35] dylanirlbeck opened #4220 "bs.deriving jsConverter not working for polymorphic variants bs-7.0.1"
Possibly related to #3548

[code]

[code]

Having code that resembles what's above produces the following runtime error:

[code]
bs-platform 7.0.1
MacOS
Firefox

I'd be happy to try and give more information if needed. Thank you in advance for help with this issue!

[2020-03-10 02:09] bobzhang commented on #4220
I tried on 7.2.1, bsb works fine, it seems reason-language-server does not work properly

[2020-03-10 02:19] bobzhang commented on #4220
after reloading the editor it seems work

[2020-03-10 02:19] #4220 closed

[2020-03-10 02:24] bobzhang commented on #4218
Indeed, seems `es6-global` is broken, I will push a quick fix

`bsc -version` gives you the ocaml compiler version

[2020-03-10 03:07] bobzhang commented on #4218
fixed in #4223 will cherry pick it to 7.2

[2020-03-10 03:07] #4218 closed

[2020-03-10 03:08] bobzhang commented on #4204
landed in 7.2

[2020-03-10 03:08] #4204 closed

[2020-03-10 03:11] bobzhang commented on #2822
closed since its already removed

[2020-03-10 03:11] #2822 closed

[2020-03-10 07:39] turboMaCk commented on #4183
The reason why we prefer building from source for nixpkgs is because we support many architectures. As far as I know the number of architectures is currently even expanding and we hope to be soon able to provide RISC-V builds for instance. In addition to this nix also has relatively easy mechanism to apply custom patches (`bs-platform.overrideAttrs { patches = [ ./path/to/file.patch ] }`) etc. So

[2020-03-10 09:02] bobzhang commented on #4183
we do support build from source, do you have issue with that?

Marek Fajkus <notifications@github.com>于2020年3月10日 周二下午3:39写道：

--
Regards
-- Hongbo Zhang

[2020-03-10 10:22] turboMaCk commented on #4183
I believe it's all fine. @anmonteiro just added few smaller changes to the build definition but I believe, we're ready to merge 7.2.0 to nixpkgs. See this for more info https://github.com/NixOS/nixpkgs/pull/82068

[2020-03-10 12:45] dylanirlbeck commented on #4220
@bobzhang Whaat editor are you using?

[2020-03-10 16:22] jdeisenberg opened #4225 "Js.Array.fromMap() appears to be pipe first"
The signature for `Js.Array.fromMap()` puts the array as the first parameter, but the majority of functions in this module are designed for pipe last.

[2020-03-11 02:52] bobzhang commented on #4220
I only use IDE for syntax highlighting . I tested it on
vscode-reason-language-server

Dylan Irlbeck <notifications@github.com>于2020年3月10日 周二下午8:45写道：

--
Regards
-- Hongbo Zhang

[2020-03-11 06:33] erykpiast commented on #3716
Anything would be better than `sed`-ing the config for production build. Who is gonna make the decision here? @bobzhang?

[2020-03-11 07:45] bobzhang commented on #4198
how about deprecate `pow_int` and use `pow_float`instead (which we already have)?

[2020-03-11 08:44] bobzhang opened #4227 "Not using npm link for `bsb -init`"
The installation for bs-platform is fast enough so the isolation should be preferred

[2020-03-11 08:48] bobzhang commented on #4218
@jwhitley cherry picked to 7.2.2 and released

[2020-03-11 09:07] bobzhang commented on #4183
closed since it seems to be fixed. thanks

[2020-03-11 09:07] #4183 closed

[2020-03-11 09:08] bobzhang commented on #4146
we should go this route to mitigate the cost or release, each time after cut a release, only bug fixes goes in, if there are significant bugs we discard such release

[2020-03-11 10:05] TheSpyder commented on #3716
I'm reaching the point where I just want a way to specify a completely different `bsconfig.json` for my production builds

[2020-03-11 14:43] jdeisenberg commented on #4198
That sounds good. The convenience of being able to write `Js.Math.pow_int_exp(x, 2)` is probably not worth a new function binding. People will just have to “struggle“ with `Js.Math.pow_float(x, 2.0)`.

[2020-03-11 15:49] jwhitley commented on #4218
Confirmed fixed on my end in 7.2.2. Thanks!

[2020-03-11 17:25] anmonteiro commented on #4183
I guess another way of putting it is: "won't be fixed, people who want to build from source will have to keep figuring it out from the build scripts"

[2020-03-12 03:50] bobzhang commented on #4183
Hi Antonio, Bucklescript is not wildly used, we don’t have the luxury of
resources to make everybody happy. Our goal is to provide best support for
Linux/Mac/Windows, I already spent tons of time providing out of box
Windows support even though I never use Windows, we will provide assistance
to help it target more platforms but we have to manage user expectations
properly.

Antonio Nuno Monteiro <

[2020-03-12 06:55] #4198 closed

[2020-03-12 11:24] adessaigne opened #4230 "Cannot install bs-platform in Windows docker containers"
Hello 👋

In a Windows docker container, you cannot install bs-platform: it fails during the ninja version check.

Here how to reproduce the issue (on windows)
[code]

This produces the following output (with some truncated parts)
[code]

I tried to investigate this issue a bit further and I noticed that when calling `ninja.exe --version` it outputs nothing and exit with a return code of `-10737415

[2020-03-13 09:23] gaku-sei opened #4231 "Some files get randomly deleted"
It's extremely hard to provide any more information on that one, but since BuckleScript 7.2.x I got some files randomly deleted in the apps using BuckleScript. I suspect it could be related to https://github.com/jaredly/reason-language-server, but I have really no clue what is going on. I sometimes don't even do anything, and BuckleScript recompiles, and fails since a file disappeared... Do you ha

[2020-03-13 10:23] ryyppy opened #4232 "Fix CONTRIBUTING"
Following changes have occurred:

**Playground related:**
- `jscomp/main/jsoo_refmt_main.ml` has moved to `jscomp/refmt/jsoo_refmt_main.ml`
- The [Building the bundle](https://github.com/BuckleScript/bucklescript/blob/master/CONTRIBUTING.md#building-the-bundle) instructions are now obsolete, since stdlib is compiled in memory. We might need to revisit the complete Playground documentation for that

[2020-03-13 12:49] bobzhang commented on #4231
Which files are deleted? Do you have hand written files with suffix .bs.js?

[2020-03-13 14:06] Risto-Stevcev opened #4233 ""Subdirs" + "files" in bsconfig leads to duplicate file error"
Using `subdirs` with `files` leads to a duplicate file error even though only one file is there.

To replicate:
[code]
And in `bsconfig.json`:
[code]
Then if you run `bsb -make-world`, it errors out with:
[code]
Even though it only exists in `src/someotherdir`

[2020-03-13 14:12] Risto-Stevcev opened #4234 "Add docs to clarify difference between `subdirs` and subdir paths from `src` in bsconfig"
The documentation for `bsconfig.json` doesn't clarify what the difference is between doing something like this:
[code]
vs this:
[code]
given this file structure:
[code]
I ran into this issue with #4233 . Using the later syntax (`"dir": "src/someotherdir"`) fixed the issue for me, but I'm not sure why and what the differences between these two styles are. Proposing here to add some note in the docs

[2020-03-15 08:45] bobzhang commented on #4230
hi @adessaigne , the thing is that our prebuilt ninja.exe on windows does not work under docker environment, and it tries to build it  under windows.
IIRC, the building needs to be done in a MSVC environment with python installed.
Windows native is our supported platform, we would like to merge patches to support Docker on Windows but we don't have resources to work on this, thanks

[2020-03-15 16:09] BlueHotDog opened #4238 "Error trying to resolve Js.Promise with unit"
The following code should work(as far as i undersand):
[code]
But produces the following error:
[code]

[2020-03-16 08:44] gaku-sei commented on #4231
Sorry, I haven't provided a lot of information.
I'm using Bucklescript 7.2.2 with the following bsconfig:

[code]

With the Reason Language Server 1.7.8 on Vs Code.

And I get some `.re` files randomly deleted 😕
It happens rather frequently (several times a day), and there seems to be no pattern, litterally any `.re` file can get dropped at any time (expect the ones being edited).

[2020-03-16 08:53] bobzhang commented on #4238
hi @BlueHotDog , `f (.)` is a speical syntax for arity 0, here resolve is arity 1, `let unit = () in resolve(. unit)` will be the work around

[2020-03-16 08:53] #4238 closed

[2020-03-16 09:17] bobzhang commented on #4231
hmm, we rarely deleted things, cc @cristianoc for gentype
Would the RLS delete things?

[2020-03-16 09:18] bobzhang opened #4239 "Improve error message when arity mismatch"
relevant #564

[x ] overmatch

Error: This expression has type (int -> int -> int) Js.Fn.arity2
       but an expression was expected of type 'a Js.Fn.arity1

[x ] undermatch

Error: This expression has type (int -> int -> int) Js.Fn.arity2
       but an expression was expected of type 'a Js.Fn.arity3

The first two looks reasonable without modification to type error reporting hoks

[ ]curried use

[2020-03-16 10:06] cristianoc commented on #4231
@bobzhang genType only deletes `.gen.tsx` files when the file does not need to be generated anymore. Does not touch `.re` files.

[2020-03-17 21:58] schutm commented on #2677
Any progress on this one?

[2020-03-17 22:24] genkobar commented on #3691
@arnihermann

This looks like an issue with that specific apostrophe - has it been automatically formatted into "rich text" by some text editor?

When I use a US keyboard layout on my MacBook, the apostrophe key outputs `'`, but your example has the character `’`.

[2020-03-18 03:53] bobzhang commented on #4225
yeah, we realized it is hard to reach consistency for  pipe last convention, for example, the signature of `compare`, but unclear how to make the least intrusive fix

[2020-03-18 04:39] #4239 closed

[2020-03-18 12:48] bobzhang opened #4242 "improve object uncurry error message"
- [ ] method arity mismatch

- [ ] method used as plain function
[code]

[2020-03-18 13:40] aantron commented on #3761
[Bisect_ppx is now out for BuckleScript](https://reasonml.chat/t/bisect-ppx-reasonml-code-coverage-with-nice-html-reports/2264) and available as an npm package, so I'd like to ping this issue again. It would be very nice to resolve this for a fully ergonomic integration; then I will add instructions to the Bisect README about where the Bisect PPX flags should go in `bsconfig`.

[2020-03-19 07:15] bobzhang commented on #575
this should be done in master

[2020-03-19 07:15] #575 closed

[2020-03-19 07:16] bobzhang commented on #570
This should be supported in next release, note only label to be supported not optional

[2020-03-20 14:48] kevinji commented on #856
I think this issue is resolved if you consistently use `let` bindings; e.g.

[code]

has the expected behavior.

[2020-03-21 01:51] Inkbottle007 opened #4243 ""props" vs "Props" lines 179 and 187: When capitalized, snd example of Components Documentation doesn't compile."
In [reactjs_jsx_ppx.cppo](https://github.com/BuckleScript/bucklescript/blob/c861780650c9f093250cf7448f58e55f2ee86d1c/jscomp/syntax/reactjs_jsx_ppx.cppo.ml).
Line 179 `propsName` is spelled "Props";
line 187 it is spelled "props".
It is of little consequence in itself.
However I understand that it reflects in the second snippet of [components documentation](https://reasonml.github.io/reason-react/d

[2020-03-21 10:50] bobzhang commented on #4243
cc @rickyvetter

[2020-03-21 11:01] bobzhang opened #4245 "-strict-sequence vs -warn-error +10"
It does not behave the same (for type error message)

[code]

[2020-03-21 11:04] cristianoc commented on #4243
@Inkbottle007 that's intentional. You can't write `Props` in user code, and that's why the PPX does: to avoid accidental clash.
Perhaps some clarification is due in the docs, explaining that you can's just copy paste the code as-is.

[2020-03-21 11:05] cristianoc commented on #4243
I don't think there's a mechanism in bucklescript where one could get access to the compiler's own mechanism to rename identifiers to avoid clashes. Right @bobzhang  ?

[2020-03-21 11:07] cristianoc commented on #4243
This sounds pretty familiar from macro systems in general, when a dedicate mechanism to control scope is not provided. C.f. hygienic macros in Lisp.

[2020-03-21 21:49] mishaszu opened #4246 "bsb.exe not found for Linux rls"
# bsb.exe not found for Linux rls

## description
Every reason language server on my Linux machine returning error:
[code]
I use vim so I tried to configure rls for vim with no luck.
I tried to configure ocaml & reason language servers with [coc](https://github.com/neoclide/coc.nvim) and with official guide form [vim-reason-plus with 'autozimu/LanguageClient-neovim'](https://github.com/reasonml-ed

[2020-03-22 03:50] Inkbottle007 commented on #4243
It is a sure way to avoid naming conflicts. That got me quite confused.
A line in the doc about that could help.
(Output is uncapitalized when already in the input, capitalized otherwise.)

[2020-03-22 03:50] #4243 closed

[2020-03-22 16:49] yawaramin opened #4248 "Unable to create a Belt.Map using Belt.Id.comparable"
For example (courtesy of @johnridesabike):

[code]

We get the following error:

[code]

It seems that `Belt.Id.comparable` does not return a value of type `('key, 'id) Belt.Map.id = ('key, 'id) Belt.Id.comparable`, because it does not set the identity type.

[2020-03-23 01:05] zzz6519003 opened #4249 "Why not make Belt.Array.keep as filter?"

[2020-03-23 04:00] gaku-sei commented on #4231
Thank you @cristianoc .

I spent the last few days with all the the extensions disabled on vs code (except for RLS), and apparently it fixed issue. Since the files got deleted after I updated to bs 7.2.0 I thought it could be the cause for it, but apparently it's not, my bad 🙏

[2020-03-23 04:00] #4231 closed

[2020-03-23 07:57] bobzhang commented on #4246
Hi @mishaszu , as you discovered, the bsb.exe is relocated, the option '-bs-no-builtin-ppx-ml' is changed into '-bs-no-builtin-ppx'. I updated such changes in this repo https://github.com/jaredly/reason-language-server, let me know if I can help you send fixes to upstream

[2020-03-23 07:59] bobzhang commented on #4249
it was used to name keep, but later renamed to keep by contributors. Maybe for non-native speakers, `keep` means `keep it`, filter can have the opposite meaning sometimes

[2020-03-23 07:59] #4249 closed

[2020-03-23 08:06] bobzhang commented on #4248
see this https://bucklescript.github.io/bucklescript/api/Belt_Map.html for how to create an identity.

There are some sublety here, in general, you have to name the module and give it a type
[code]

[2020-03-23 08:06] #4248 closed

[2020-03-23 08:36] cristianoc commented on #4248
@bobzhang  Wondering if this is documented enough.
Is the answer the same as: copy what's in the current docs?

[2020-03-23 08:57] bobzhang commented on #4248
This is one place in OCaml where substitution rules does not apply , in general, there is no work around to give module `I` a name. Will add some docs later

[2020-03-23 19:02] a7c opened #4253 "Record syntax within JS objects gets parsed as JS objects"
Here's a quick repro case:

[code]

`{bar: 1}` should be parsed as a record but it gets parsed as a JS object instead.

https://reasonml.github.io/try?rrjsx=true&reason=DYUwLgBAZg9jEF4IG8BEsaoFwoEYEMAnHARgF8yBuIA

cc: @rickyvetter

[2020-03-23 19:21] cristianoc commented on #4253
cc @chenglou

[2020-03-23 19:58] yawaramin opened #4254 "Format strings containing Unicode chars mangled"
Format strings containing Unicode characters, and delimited with `{j|...|j}`, are getting mangled in BuckleScript output. For the following input:

[code]

We see the output: `"ð, Yawar 🙂"`

(Relevant part of) output JS is:

[code]

Expected behaviour is that any piece of the format string should be output verbatim, like `"🙂, "`

[2020-03-24 01:44] #2677 closed

[2020-03-24 02:34] TheSpyder commented on #3761
an option to have a dev-mode `bsconfig.json`, or something similar as discussed in #3716, would also help with this

[2020-03-24 02:45] chenglou commented on #4253
Reason js object syntax desugars to bs.obj ppx, which interprets nested records as just syntax for objects too, since back then it wouldn't have made sense to embed a record into a js object since record compiled to a private representation (array).

Changing this back would likely break some code? Though it does make sense to change this back now that records compile to objects

[2020-03-24 02:53] bobzhang commented on #4253
@a7c there's a work around, `let bar = {bar : 1}; let foo = {"foo":bar}`, perhaps we should emit a warning on reason side?

[2020-03-24 09:07] bobzhang commented on #4254
This is not ideal. The unicode does not work here is due to some magic involved with format string.

Note it is not recommended to use Format/Printf in JS backend since it is too slow and over-bloated.

Will check if there is an easy fix

[2020-03-24 11:59] bobzhang commented on #4248
add docs here https://github.com/BuckleScript/bucklescript/pull/4257

[2020-03-24 12:05] bobzhang commented on #4253
moved https://github.com/facebook/reason/issues/2554

[2020-03-24 12:05] #4253 closed

[2020-03-24 12:12] agarwal opened #4259 "bsc -help states incorrect defaults for warning flags"
The output of `bsc -help` states incorrect defaults for `-w` and `-warn-error`.

[code]

However, the build config is set differently:
[code]

The `-w` flag is not what is stated above, and the `-warn-error` flag does not appear.

This issue appears in at least BuckleScript 5.0.4 and 7.0.1.

[2020-03-24 13:18] #4259 closed

[2020-03-24 14:44] yawaramin commented on #4254
Thanks Bob. Btw I checked with JSOO in https://try.ocamlpro.com/ and it seems to work correctly there.

[2020-03-24 16:39] adessaigne commented on #4230
Do you know how I can provide more information on why the prebuilt ninja.exe doesn't work on Windows Docker container? Thanks

[2020-03-25 01:07] bobzhang commented on #4254
jsoo treats string as an opaque type which has different strategy

[2020-03-25 07:11] jfrolich opened #4261 "Cannot include module type when namespaced"
If I try to include the module type of `View` (https://github.com/reason-react-native/reason-react-native/blob/master/src/components/View.re) in a module interface, it's gives the following error:

[code]

According to a discussion in Discord it's probably because of the `namespace` option of this particular dependency. It would be nice if we could use module types of external dependencies.

[2020-03-25 09:17] bobzhang commented on #4261
can you create a small repo so that I can duplicate easily? Based on my understanding, namespace should not be the cause

[2020-03-25 10:17] #4242 closed

[2020-03-25 10:18] bobzhang commented on #4242
done in master

[2020-03-25 10:18] bobzhang commented on #4230
@adessaigne can you try https://github.com/ninja-build/ninja/releases, download the windows. binary and test it on windows docker, if it does not work, maybe report the issue on ninja repo

[2020-03-26 07:48] aantron commented on #3761
In case we go with the idea of specifying the `bsconfig.json`, we still need at least #3482 (per-directory PPX flags) to avoid the annoying workaround of having to specify `[coverage exclude_file]` in the test suite and any other files that are not part of the code under test. There are two reasons this is annoying:

1. It is error-prone.
2. It has to be done for every file, so the larger the test

[2020-03-26 07:51] aantron commented on #3482
FYI for anyone else watching this issue, the `.merlin` file question can be resolved by generating .merlin files in each directory (as Dune does), rather than one global one.

[2020-03-26 09:35] shulhi opened #4264 "Tag 7.2.2 release"
I'm using bs-platform alongside nix which require the source to be fetched from this repo. NPM seems to show 7.2.2 as the latest release but I don't see tag for 7.2.2 and I'm not sure which commit 7.2.2 is pointing to.

Would it be possible for you to tag 7.2.2 so I can pull the correct version? Thanks.

[2020-03-26 10:39] bobzhang commented on #4264
thanks for the ping, will do it

[2020-03-26 10:55] bobzhang commented on #4264
done

[2020-03-26 10:55] #4264 closed

[2020-03-26 10:56] shulhi commented on #4264
Thanks!

[2020-03-27 01:53] sikanhe opened #4265 "Bug in implementation of MutableMap and MutableMap.Int causing wrong item to be deleted/retrieved"
Bug: After a several add and remove into a MutableMap.Int, it could lead to an incorrect item being retrieved;

https://reasonml.github.io/en/try?rrjsx=false&reason=PYBwpgdgBAQmA2AXA3AKHmRUC2wDGA1gLICGIUAvFEQK6IkBGGpIAdAJISKvYkFgAKAJRoMWEgBMJlKAEtpFAHxQA3qig58xMgFpFtekzAsOXVgGdMA+QBo5EkevtoAvqMxQATmFwA3MDLylMpqGriELHoGjMxkptzefoLyjm6oqJISAgCMAOwATABsjmJQ0FSZAoXVuY6VACwAHMVoicD+OQUt6aUQ2TLh2iBRdDHG

[2020-03-27 02:11] bobzhang commented on #3761
@aantron I think the best way to do this is having an environment variable so when it is set, bisect will be instrumented, bisect can pick up some convention to not instrument code in test files, what do you think?

[2020-03-27 02:17] cristianoc commented on #4265
@sikanhe smaller repro:
[code]